{% extends 'main/base.html' %}
{% load filters %}

{% block content %}
{% if entry_list %}

<a href='?page=1'>&lt;</a>...
{% for i in pages %}
<a href='?page={{i}}'>{{i}}</a>
{% endfor %}
...<a href='?page={{last_page}}'>&gt;</a>

<table>


<tr class="tablehead">
    {% for i in field_list %}
        {%if i = 'inchikey'%}
            <td>PubChem Link</td>
        {%else%}
          <td>{{ i|title }}</td>
        {%endif%}
    {% endfor %}
</tr>


{% for j in entry_list %}
<tr class="{% cycle "odd" "even" %}">
    {% for i in field_list %}
        {%if i == 'inchikey'%}
            <td><a href="http://www.ncbi.nlm.nih.gov/pccompound?term=+{{j|getattr:i}}">PubChem Link</a>|
        {% elif i != 'svg' %}
          <td>{{ j|getattr:i }}</td>
        {%else%}
            {% autoescape off %}
           <td>{{ j|getattr:i }}</td>
           {% endautoescape %}
        {% endif %}
    {% endfor %}
</tr>
{% endfor %}



</table>

<a href='?page=1'>&lt;</a>...
{% for i in pages %}
<a href='?page={{i}}'>{{i}}</a>
{% endfor %}
...<a href='?page={{last_page}}'>&gt;</a>


{% else%}
No Results Found!
{% endif %}

{% endblock %}