{% extends 'main/base.html' %}
{% load filters %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block content %}
<!-- block to add navigation buttons-->
<ul class="nav nav-tabs nav-pills-plots" >
    <li class ="stat_heatmap"><a href="{% url "stat_heatmap" %}">Heatmap</a></li>
    <li class ="stat_scatter"><a href="{% url "stat_scatter" %}">Scatter</a></li>
    <li class ="stat_correlation"><a href="{% url "stat_correlation" %}">Correlation</a></li>
    <li class ="stat_histogram"><a href="{% url "stat_histogram" %}">Histogram</a></li>    
</ul>
<br>

{%if url_name|length > 0%}
<!-- block to data column buttons-->
<ul class="nav nav-pills data_column" >
    {%for field in field_list%}
        <li class = "btn btn-default" data_column = {{field}} >{{field}}</li>
    {%endfor%}
</ul>
<hr>
{%endif%}


{% block plot-options %}{%endblock%}
<div style="width:100px;">
<select name='color' class='form-control'>
    <option value='SGBR'>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>
</div>
<!-- block to option buttons-->
{%if url_name == "stat_heatmap"%}
<ul class="nav nav-pills" >
    <div class="btn-group">
    <li class = "btn btn-default" >color choice 1</li>
    <li class = "btn btn-default" >color choice 2</li>
    <li class = "btn btn-default" >color choice 3</li>
    </div>
    <div class="btn-group">
    <li class = "btn btn-default" >Reverse color</li>
    </div>
</ul><hr>
{%elif url_name == "stat_scatter"%}
<ul class="nav nav-pills" >
    <div class="btn-group">
    <li class = "btn btn-default" >Plot all plates together</li>
    <li class = "btn btn-default" >Plot individual plates</li>
    </div>
    
    <div class="btn-group">
    <li class = "btn btn-default"> Sort by well</li>
    <li class = "btn btn-default"> Sort by value</li>
    </div>
</ul><hr>
{%elif url_name == "stat_correlation" or url_name == "stat_histogram"%}
<ul class="nav nav-pills" >
    <div class="btn-group">
    <li class = "btn btn-default" >Plot all plates together</li>
    <li class = "btn btn-default" >Plot individual plates</li>
    </div>
</ul><hr>

{%endif%}





{% block plots %}{% endblock %}

{% endblock %}


{% block script %}
<script src="{% static "main/js/jquery-ui.min.js" %}"></script>

<script>
    
$('ul.nav-pills-plots > li[class*={{url_name}}]').addClass("active")

data_column_to_plot = []
$('ul.data_column > li').click(function(){
    x=$(this).attr("data_column");
    
    if ($(this).hasClass("btn-default")){
        $(this).removeClass("btn-default")
        $(this).addClass("btn-warning")
        data_column_to_plot.push(x)
    }
    else{
        $(this).addClass("btn-default")
        $(this).removeClass("btn-warning")
        data_column_to_plot = jQuery.grep(data_column_to_plot, function(value) {
        return value != x;})
    }
    $("textarea.data_column_to_plot").val(data_column_to_plot.join(','));
})
</script>


{% block script-tooltip %}{% endblock %}
{% block script-zoom %}{% endblock %}
{% endblock %}
