{% extends 'main/base.html' %}
{% load filters %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block content %}
<style>
.horizontal_selection div {
display: inline-block;
vertical-align: middle;
}
</style>    
    
<!-- block to add navigation buttons-->
<ul class="nav nav-tabs nav-pills-plots" >
    <li class ="stat_heatmap"><a href="{% url "stat_heatmap" %}">Heatmap</a></li>
    <li class ="stat_scatter"><a href="{% url "stat_scatter" %}">Scatter</a></li>
    <li class ="stat_correlation"><a href="{% url "stat_correlation" %}">Correlation</a></li>
    <li class ="stat_histogram"><a href="{% url "stat_histogram" %}">Histogram</a></li>
    <li class ="stat_dendrogram"><a href="{% url "stat_dendrogram" %}">dendrogram</a></li>
    <li class ="stat_2ddendrogram"><a href="{% url "stat_2ddendrogram" %}">dendrogram 2D</a></li>
</ul>
<br>
    
{%block plot-option%}{% endblock %}

{% block plot-img %}{% endblock %}

{% endblock %}


{% block script %}
<script src="{% static "main/js/jquery-ui.min.js" %}"></script>

<script>
$('ul.nav-pills-plots > li[class*={{url_name}}]').addClass("active")

// to select for data columns
data_column_to_plot = []
$('ul.data_column > li').click(function(){
    x=$(this).attr("data_column");
    
    if ($(this).hasClass("btn-default")){
        $(this).removeClass("btn-default")
        $(this).addClass("btn-warning")
        data_column_to_plot.push(x)
    }
    else{
        $(this).addClass("btn-default")
        $(this).removeClass("btn-warning")
        data_column_to_plot = jQuery.grep(data_column_to_plot, function(value) {
        return value != x;})
    }
    $("textarea.data_column_to_plot").val(data_column_to_plot.join(','));
})

</script>


{% block script-tooltip %}{% endblock %}
{% block script-zoom %}{% endblock %}

{% endblock %}
