{% extends 'main/base.html' %}
{% load staticfiles %}


{% block content %}



    <h1>Please wait while the job is running.</h1>
<!--     <div class="explanation"><h3>Job status</h3></div> -->

    <div id="task_progress">
        
        <p class="loading">Job Running....</p>
        
        <div class="progress" id="progress_container">

    		<div class="progress-bar progress-bar-primary" id="progress"></div>

		</div>
        
        <div class="results"></div>

    </div>





{% endblock %}

{% block script %}
<script src="{% static 'js/celery.js' %}"></script>


<script>
$(document).ready(function () {

    var $progress_bar = $('#progress');

    $('.loading').djcelery({
        task_id: '{{job_id}}',
        check_interval: 1000,
        on_success: function (task) {

            $('.loading').hide();
            $('#progress_container').hide();

            var msg;
            if (task.result === null) {
                msg = '<p>No files were modified during the given date range</p>';
            } else {
                msg = '<p>Your job is Done</p><p>Updated plates:' + task.result + '</p>';
            }
            $('.results').html(msg);

        },
        on_failure: function (task) {
            $('.loading').hide();
            var msg = '<p class="error">job failed.</p>';
            $('.results').html(msg);
        },
        on_error: function () {
            $('.loading').hide();
            var msg = '<p class="error">There was an error from the job.</p>';
            $('.results').html(msg);
        },
        on_other: function(task_result) {
            if (task_result.status == 'PROGRESS') {
                // Set the percentage
                var percent = task_result.result.progress_percent;
                $progress_bar.css('width', percent + '%');

            }
        }
    });
});
</script>

{% endblock %}