<hr>


<div class="well">
<h3>Note:</h3> 
<ul>
<li>We will read the file according to the input sequence. For example, if you put 3266, 3264, 3265 and have 2 replicates, we will read 3266A, 3266B, 3264A, 3264B, 3265A, 3265B.</li> 
<li>For 1536-well plate, we process it as 4 384 plates. Please put the plates in the order of top-left, top-right, bottom-left, bottom-right. </li>
</ul>
</div>


<form role="form" class="form upload-form" enctype="multipart/form-data" method="post" action="{% url "upload" %}">
{% csrf_token %}

<input type="hidden" name="pointer" value="save">
<input type="hidden" name="proj_id" value="{{proj_id}}">
<input type="hidden" name="user_id" value="{{user.id}}">
<input type="hidden" name="filename" value="{{filename}}">
<input type="hidden" name="plate_num" value="{{plate_num}}">
<input type="hidden" name="table_count" value="{{table_count}}">

<div class="form-group">
<label>Library</label>
<div class="row">
<div class='col-xs-3'>
<select class="form-control" name="library_select" id="library_selector">
<option selected="selected" value="">-----</option>
    {% for i in library %}
        <option value="{{ i.library_name }}">{{i.library_name}}</option>
    {% endfor %}
</select>
</div>

<div class='col-xs-3'>
<input type="text" class="form-control" name="library" required="true" id="library_text">
</div>

</div>
<p class="help-block">Please select library from the dropdown or input the library name if not in the box.</p>
</div>


<div class="form-group">
<label>Plates:</label>
<div class="row">
{% for i in platerange%}
   <div class="col-xs-1"><input type="text" class="form-control plate_input" name="plate_{{i}}" placeholder="{{i}}"></div>
{% endfor %}
</div>
<p class="help-block">Found {{plate_num}} plates in your file. Please fill in the names of these plates.</p>
</div>

<br>

<div class="form-group">
<button type="submit" class="btn btn-primary">Update</button>
<button type="reset" class="btn btn-default">Clear</button>
</div>

</form>

<hr>
