{% extends 'process/processbase.html' %}
{% load staticfiles %}

{% block subcontent %}


<style type="text/css" scoped>
.label{
    margin:2px;
    font-size:small;
    width:25px;
    height:20px;
    float:left;
    text-align:center;
}
.well{
    margin:1px;
    width:25px;
    height:20px;
    float:left;
    border:1px solid grey;
    text-align:center;
}

.button{
    float:left;
    margin:2px 10px 2px;
    padding:2px;
    border:1px solid grey;
    background:#CCC;
}

#selectable .ui-selecting {
    background: #ccc;
}
#selectable .ui-selected {
    background: #999;
}

</style>





<div style="width:730px;" id="selectable">
    <div class="label"></div>
    {% for j in proj.plate.col %}            
        <div class="label">{{j}}</div>
    {% endfor %}

{% for i in proj.plate.row %}
    <div class="label">{{i}}</div>
    {% for j in proj.plate.col %}
        <div class="well" well="{{i}}{{j}}"></div>
    {% endfor %}
{% endfor %}
</div>

<form>

{% for i,j in welltypes.items %}
    <br><div class="button" id="{{i}}">{{i}}:&nbsp;{{j|title}}</div><input type="text" name="{{i}}"><br>
{% endfor %}

</form>


<script src="{% static "main/js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "main/js/jquery-ui.min.js" %}"></script>



<script>

$("#selectable").selectable();

$(".button").click(function(){

    $(".ui-selected").each(function(){
        alert($(this).attr("well"));
    });

});

</script>


{% endblock %}

