{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}


<style type="text/css" scoped>

#selectable .ui-selecting {
    background: #ccc;
}
#selectable .ui-selected {
    background: #999;
}

</style>


{% for i,j in welltypes.items %}
<button class="btn btn-primary wellbtn" welltype="{{i}}">{{j|title}}</button>
{% endfor %}

<table class="table table-bordered table-responsive" id="selectable">

    <tr>
    <td></td>
        {% for j in proj.plate.col %}            
            <td>{{j}}</td>
        {% endfor %}
    </tr>

    {% for i in proj.plate.row %}
        <tr>
            <td>{{i}}</td>
            {% for j in proj.plate.col %}
                <td class="well" well="{{i}}{{j}}"></td>
            {% endfor %}
        </tr>


    {% endfor %}


</table>

<form role="form" enctype="multipart/form-data" method="post" action="{% url "mark" %}">
{% csrf_token %}

{% for i,j in welltypes.items %}
    <label>{{j|title}}</label>
    <textarea class="form-control" welltype="{{i}}" name="{{i}}"></textarea>
{% endfor %}

<label>Select Plates to Update</label>
<select multiple name="plates" class="form-control">
    {% for i in plates %}
        <option value="{{i}}">{{i}}</option>    
    {% endfor %}
</select>

<button type="submit" class="btn btn-success">Update</button>

</form>



{% endblock %}


{% block script %}

<script src="{% static "main/js/jquery-ui.min.js" %}"></script>


<script>

$("#selectable").selectable({
    filter: ".well"
});

$(".wellbtn").click(function(){
    x=$(this).attr("welltype");
    value=[];
    $(".ui-selected").each(function(){
        value.push($(this).attr("well"));
        //alert($(this).attr("well"));
    });
    $("textarea[welltype="+x+"]").val(value.join(','));
});

</script>

{% endblock %}


