{% extends 'main/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<ul class="nav nav-tabs">
  <li><a href="{% url 'upload' %}">Upload</a></li>
  <li class="active"><a href="{% url 'mark' %}" >MarkWell</a></li>
</ul>

<br>

<style type="text/css" scoped>

#selectable .ui-selecting {
    background: #ccc;
}
#selectable .ui-selected {
    background: #999;
}

</style>

<div class="well">
    {% for i,j in welltypes.items %}
        <button class="btn btn-primary wellbtn" welltype="{{i}}"><strong>Mark As</strong> {{j|title}}</button>
    {% endfor %}
</div>

<table class="table table-bordered table-responsive" id="selectable">

    <tr>
    <td></td>
        {% for j in proj.plate.col %}            
            <td>{{j}}</td>
        {% endfor %}
    </tr>

    {% for i in proj.plate.row %}
        <tr>
            <td>{{i}}</td>
            {% for j in proj.plate.col %}
                <td class="well" well="{{i}}{{j}}"></td>
            {% endfor %}
        </tr>


    {% endfor %}


</table>

<div class="well">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url "mark" %}">
{% csrf_token %}
    

    {% for i,j in welltypes.items %}
    <div class="form-group">
        <label class="col-sm-2 control-label">{{j|title}}</label>
        <div class="col-sm-10">
        <textarea rows=5 class="form-control" welltype="{{i}}" name="{{i}}" placeholder="List of {{j|title}} wells seperated by comma, like A01,A02,A03"></textarea>
        </div>
    </div>
    {% endfor %}

{{form|as_bootstrap_h}}

<!--     <div class="form-group">
        <label class="col-sm-2 control-label">Plates to Update</label>
        <div class="col-sm-10">
            <textarea name="plates" rows=5 class="form-control" id="selector-target" placeholder="Plates List, like 1,2,3"></textarea>
        </div>
    </div>
 -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Clear</button>
        </div>
    </div>

</form>
</div>



{% endblock %}


{% block script %}

<script src="{% static "main/js/jquery-ui.min.js" %}"></script>


<script>

$("#selectable").selectable({
    filter: ".well"
});

$(".wellbtn").click(function(){
    x=$(this).attr("welltype");
    value=[];
    $(".ui-selected").each(function(){
        value.push($(this).attr("well"));
        //alert($(this).attr("well"));
    });
    $("textarea[welltype="+x+"]").val(value.join(','));
});


</script>

{% endblock %}
