{% extends 'main/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load filters %}

{% block content %}


{# the table list 2 variable needed. field_list and entry_list one optional pre_order#}

<div class="panel">
<table class="table table-hover table-condensed table-responsive">


{% include "main/table.html" %}


</table>
<div class="panel-footer">
<p>Note: Score used in the current project is highlighted.</p>
</div>
</div>
<a href="{% url 'filternedit' %}?edit=score"><button class="btn btn-default btn-sm">Edit Score</button></a>

<hr>

<div class="well">
<form role="form" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url "score" %}">{% csrf_token %}
{{form|as_bootstrap_h}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default">Clear</button>
        </div>
    </div>

</form>

</div>

{% endblock %}
