{% extends 'main/base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block style %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static 'css/jquery.fileupload.css'%}">

<style type="text/css" scoped>

#dropzone {
	border:2px dotted #0B85A1;
	padding:10px 10px 10px 10px;
    width: 100%;
    height: 200px;
    line-height: 50px;
    text-align: center;

}
#dropzone.in {
    width: 100%;
    height: 200px;
    line-height: 100px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

</style>

{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'upload' %}">Upload</a></li>
  <li><a href="{% url 'mark' %}" >MarkWell</a></li>
</ul>

<br>




<div class="well">
<a class="btn btn-primary btn-block" href="{% url 'view' %}">Load Demo</a><hr>	
	<form class="form"  id="fileupload" role="form" enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
	   {% csrf_token %}      
	   <input type="hidden" name="pointer" value="upload">

			<div id="dropzone" class="fileinput-button">
				<input type="file" name="files[]" multiple>
	   			<h1>Click Here or Drag file Here</h1>
                <p>Currently only support CSV file.</p>
		<p>If your file is not properly recognized, please save it as "Windows Comma Separated(.csv)" through Excel.</p>
	   		</div><br>

	   		<!-- The global progress bar -->
			<div id="progress" class="progress">
			    <div class="progress-bar progress-bar-primary"></div>
			</div>
			<br>

	</form>

<!-- The container for the uploaded files -->
<div id="files" class="files"></div>





</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.ui.widget.js' %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'js/jquery.iframe-transport.js'%}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'js/jquery.fileupload.js'%}"></script>

<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url =  '/process/upload/';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result, function (index, file) {
                $('<p/>').html('<strong>['+file.name+']</strong>    size: '+file.size+' byte').appendTo('#files');
                $('<p/>').html(file.form).appendTo('#files');

                //input a plate autogenerate next plates
                // $('.plate_input').each(function(){
                //     $(this).change(function(){
                //         num = $(this).prop('placeholder')+1;
                //         plate = $(this).val()+1;
                //         $('.plate_input[placeholder="'+num+'"]').val(plate);
                //     });
                // });

                //select library auto fill in library_name 
                $('#library_selector').change(function(){
                    $('#library_text').val($(this).val());
                });


            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});


//This is for dropzone effect
$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
        node = e.target;
    do {
        if (node === dropZone[0]) {
            found = true;
            break;
        }
        node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
});




//upload forms
// $(document).on('submit', '.upload-form', function(e) {
//      $.ajax({
//         url: $(this).attr('action'),
//         type: $(this).attr('method'),
//         data: $(this).serialize(),
//         success: function(html) {
//         alert('ok');
//         }
//     });
//     e.preventDefault();
// });

</script>




{% endblock %}
