/* common.css is the general style sheet for all pages
 *
 * Below is a list of the order of contents:
 * 1.    Boilerplate CSS http://html5boilerplate.com/ includes a css reset 
 *     as well as tricks to make css3 and html5 crossbrowser
 * 2. Standard tags custom styles
 * 3. Class and id custom styles
 * 4. style for main menu
 * 5. some helper functions also from Boilerplate
 */
/**** BOILER PLATE BEGIN********/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block;
}

blockquote,q
{
    quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
    content:"";
    content:none;
}

ins
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark
{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:700;
}

del
{
    text-decoration:line-through;
}

abbr[title],dfn[title]
{
    border-bottom:1px dotted;
    cursor:help;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
}

hr
{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

input,select
{
    vertical-align:middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body
{
    font:13px/1.231 sans-serif;
    font-size:small;
}

/* Hack retained to preserve specificity */
select,input,textarea,button
{
    font:99% sans-serif;
}

/* Normalize monospace sizing:
     en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre,code,kbd,samp
{
    font-family:monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html
{
    overflow-y:scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active
{
    outline:none;
}

ul,ol
{
    margin-left:2em;
}

ol
{
    list-style-type:decimal;
}

/* Remove margins for navigation lists */
nav ul,nav li
{
    margin:0;
    list-style:none;
    list-style-image:none;
}

small
{
    font-size:85%;
}

strong,th
{
    font-weight:700;
}

td
{
    vertical-align:top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,sup
{
    font-size:75%;
    line-height:0;
    position:relative;
}

sup
{
    top:-.5em;
}

sub
{
    bottom:-.25em;
}

pre
{
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    padding:15px;
}

textarea
{
    overflow:auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend,.ie7 legend
{
    margin-left:-7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css    */
input[type="radio"]
{
    vertical-align:text-bottom;
}

input[type="checkbox"]
{
    vertical-align:bottom;
}

.ie7 input[type="checkbox"]
{
    vertical-align:baseline;
}

.ie6 input
{
    vertical-align:text-bottom;
}

/* Hand cursor on clickable input elements */
label,input[type="button"],input[type="submit"],input[type="image"],button
{
    cursor:pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,input,select,textarea
{
    margin:0;
}

/* Colors for form validity */
input:valid,textarea:valid
{
}

input:invalid,textarea:invalid
{
    border-radius:1px;
    -moz-box-shadow:0 0 5px red;
    -webkit-box-shadow:0 0 5px red;
    box-shadow:0 0 5px red;
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid
{
    background-color:#f0dddd;
}

/* These selection declarations have to be separate
     No text-shadow: twitter.com/miketaylr/status/12228805301
     Also: hot pink! */
::-moz-selection
{
    background:#FF0;
    color:#000;
    text-shadow:none;
}

::selection
{
    background:#FF0;
    color:#000;
    text-shadow:none;
}

/* j.mp/webkit-tap-highlight-color */
a:link
{
    -webkit-tap-highlight-color:#FF5E99;
}

/* Make buttons play nice in IE:
     www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button
{
    width:auto;
    overflow:visible;
}

/* Bicubic resizing for non-native sized IMG:
     code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img
{
    -ms-interpolation-mode:bicubic;
}

body,select,input,textarea
{
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color:#444;
/* Set your base font here, to apply evenly */
    font-family:Helvetica, Arial, Verdana, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1,h2,h3,h4,h5,h6
{
    font-weight:700;
}

/**** BOILER PLATE END********/
/**
 * Custom styles
 *
 * Author: sbgird Science Portal at Harvard Medical School
 * First are standard tags
 * Followed by class and id definitions
 */
/***** Start standard Tag style*******/
html
{
    height:100%;
    font-family:Helvetica, Verdana, Arial, sans-serif;
}

body
{
    min-width:42em;
    background: #FFF;
/*    background: url("../img/bgrnd_lines.gif") repeat scroll 0 0 #FFFFFF;*/
}

p
{
    margin-top:3%;
}

ul,ol
{
    margin-top:2%;
}

li
{
    margin-top:1%;
    margin-left:2%;
}

img
{
    border:0;
}

h1,h2,h3,h4
{
    font-family:Helvetica, Verdana, Arial, sans-serif;
    padding-top:2%;
    padding-right:0;
    padding-bottom:0;
}

h1
{
    color:#dd7a19;
    font-size:16px;
    font-weight:700;
}

h2
{
    color:#dd7a19;
    font-size:14px;
    font-weight:400;
}

h3
{
    font-size:12px;
    font-weight:400;
    color:#dd7a19;
}

a
{
    color:#336799;
    text-decoration:none;
    border:0;
    font-weight:700;
}

a:hover
{
    text-decoration:none;
    color:#B5491A;
}

header
{
    position:relative;
}

footer
{
    text-align:center;
    color:#000;
    padding-top:5%;
    font-size:12px;
}

iframe
{
    width:96%;
    padding-left:2%;
    padding-right:2%;
}

/* default tables are going to be served without borders to acomidate tables which are used for formating
   real tabular data will be served in a tablesorter div */

table
{
    /*width:100%;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

table p
{
    padding:0;
    margin:0;
}

tr,td
{
    padding:8px;
    text-align:left;
}

th
{
    padding:8px 8px 8px 0;
    text-align:left;
}

td
{
    padding:8px 15px;
}

td input
{
    width:100%;
}

form
{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
/* Safari, Chrome */
    border-radius:20px;
/* CSS3 */
    /*background-color:#D0DAFD;*/
    background-color:#ECF6FF;
    color:#336799;
    /*color:#26252B;*/
    margin:2%;
    overflow:hidden;
    border:3px solid #D1E9FF;
    /*border:3px solid #999;*/
    padding-top: 1%;
}

label {
    display: block;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    padding-bottom:5px;
    padding-top:10px;
    padding-left:10px;
}

sup
{
    color:red;
}

input
{
    background-color:#FFF;
    border:2px solid #D1E9FF;
    color:#26252B;
    font-size:16px;
    width:50%;
    margin-left:1%;
    padding: 2px 4px 2px 4px;
}

select
{
    background-color:#FFF;
    border:2px solid #D1E9FF;
    color:#26252B;
    font-size:16px;
    margin-left:1%;
    padding: 2px 4px 2px 4px;
}

input:focus
{
    -moz-box-shadow:none;
    border:2px solid #6C6;
}

input:hover
{
    -moz-box-shadow:none;
    border:2px solid #6C6;
}

input[type="submit"],input[type="button"]
{
    border:none;
    width:auto;
    margin: 10px;
    border-top:1px solid #96d1f8;
    background:#65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    padding:5px 10px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow:rgba(0,0,0,1) 0 1px 0;
    box-shadow:rgba(0,0,0,1) 0 1px 0;
    text-shadow:rgba(0,0,0,.4) 0 1px 0;
    color:#FFF;
    font-size:14px;
    font-weight:700;
    text-decoration:none;
    vertical-align:middle;
    display:block;
}

input[type="submit"]:hover,input[type="button"]:hover
{
    border-top-color:#28597a;
    background:#28597a;
    color:#ccc;
}

input:invalid
{
    border:2px solid red;
}

fieldset
{
    border-top:2px solid #D1E9FF;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    clear:both;
    width:96%;
}

fieldset legend
{
    font-size:16px;
    font-weight:700;
}

form div
{
    clear:left;
    display:block;
    margin:1% 0 0;
}

div.fieldWrapper
{
    width:100%;
}

form .helptext
{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    float:right;
    display:block;
    width:40%;
    background-color:#FFF;
    border:2px solid #8FD8D8;
    vertical-align:top;
    padding: 2px 4px 2px 4px;
    margin-right: 2%;
    color: blue;
    margin-top:0;
}

fieldset .other
{
    border: solid black 1px;
}

fieldset .helptext 
{
    margin-top: 4%;
}

form .helptext p
{
    margin-top:0;
    display: inline;
    padding-right: 1%;
}

form .help_text img.infoIcon, form .helptext img.infoIcon
{
    padding-right:1%;
    vertical-align: middle;
    display: inline;
}

form#contactForm
{
    padding-top: 0;
}

fieldset #other
{
    border: solid 1px black;
}

/*These are added to syle the checkboxes in the django served forms */
form div.checkbox
{
    margin-bottom:10px;
    border:1px solid gray;
    width:100%;
}

form div.checkbox h4
{
    padding:10px;
}

div.checkbox div.helptext a 
{
    word-wrap: break-word;
    display: inline;
}

form div.checkbox div.fieldWrapper
{
    margin:2%;
    padding-bottom:1%;
    padding-top: 1%;
    width:90%;
}

form div.checkbox .helptext
{
    margin-top:-5px;
    padding-right: 0;
    min-width: 225px;
    display: inline;
}

form div.checkbox div.fieldWrapper input
{
    display:inline;
    height:auto;
    width:auto;
    background-color:transparent;
    border-width:0;
    padding:0;
    margin:0 0 0 25px;
}

form div.checkbox div.fieldWrapper label
{
    display:inline;
    padding:0;
}

form#formPara
{
    margin-bottom:25px;
}

form h1#formTitle
{
    margin:10px 0;
    width:100%;
    text-align:center;
    font-size:18px;
}

textarea
{
    width:50%;
    height:50px;
    margin-left:1%;
    border: 2px solid #D1E9FF;
}

input#id_captcha_1
{
    margin-top: -60px;
}

#lastMod
{
    text-align:center;
    display:block;
    width:100%;
    margin:auto;
    font-size: 12px;
    font-weight: 700;
}

dl
{
	margin: 0;
	padding: 0;
}

dt
{
	margin: 10px 0 0 0;
	padding: 0;
	font-weight: bold;
}

dd
{
	margin: 0;
	padding: 0;
	padding-left: 10px;
}
/***** End standard Tag style*******/
/***** Start class and id style *******/
#headTitle2
{
    float:left;
    font-weight:700;
    color:#FFF;
    font-size:1.5em;
    padding-left:65px;
    background-color:#336799;
/* rounded corners */
    -moz-border-radius:5px;
/*Firefox */
    -webkit-border-radius:5px;
/* Safari, Chrome */
    border-radius:5px;
/* CSS3 */
    padding-top:7px;
    padding-bottom:7px;
}

#headTitle2 h1, #headTitle2 a
{
    color:#FFF;
    padding-left:0;
}

.inside
{
    padding-right:3%;
    padding-left:3%;
    font-size:14px;
    line-height:16px;
    width:94%;
    font-family:Helvetica, Arial, Verdana, sans-serif;
}

@media screen and (min-width:1224px)
{
    .inside
    {
        padding-right: 10%;
	padding-left: 10%;
	width: 80%
    }
}

@media screen and (min-width:1824px)
{
    .inside
    {
        padding-right: 12%;
	padding-left: 12%;
	width: 76%
    }
}

#content
{
    color:#26252B;
    background-color:#FFF;
    width:100%;
    /*padding-right: 2%;
    padding-left: 2%;*/
    display:inline-block;
/* rounded corners */
    -moz-border-radius:10px;
/*Firefox */
    -webkit-border-radius:10px;
/* Safari, Chrome */
    border-radius:10px;
/* CSS3 */
/* for IE need to download: behavior: url(border-radius.htc); */
}

#inner
{
    padding-left:4%;
    padding-right:4%;
    width:92%;
}

#logoNav
{
    position:relative;
    width:100%;
    padding-top:30px;
    height:auto;
    z-index:5;
}

#loginMenu
{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    float:right;
    padding-top:10px;
    padding-right:2%;
    position:relative;
    z-index:10;
}

#loginReg 
{
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
}

#appMenu
{
    margin:0;
    padding:0;
}

#appMenu li
{
    margin-left:0;
    margin-right:2%;
    display:inline;
}

#logo
{
    position:absolute;
    left:3px;
    z-index:200;
}

.imgTx
{
    display:inline;
    float:right;
}

#paraContainer
{
    display:block;
    width:100%;
    height:100%;
    clear:both;
}

#para1
{
    width:46%;
    padding:2%;
    float:left;
}

#para2
{
    width:46%;
    padding:2%;
    float:right;
}

.fullWidth
{
    display:block;
    clear:both;
}

.errorlist ul, .errorlist li, .errorlist
{
    color:red;
    font-style:italic;
    padding:0;
    margin:0;
    padding-left: 1%;
    list-style: none;
}

.errorheader
{
    color:red;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 1%;
}

.orange
{
/*color: #B5491A;*/
    font-weight:700;
}

.sbgridName
{
    display:inline;
}

.tabHeading h1
{
    color:#FFF;
    background-color:#DE7A18;
    padding-left:2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: url("../img/h_highlights_titleBgrnd.gif") no-repeat scroll 0 0 transparent;
}

#navdiv
{
    position:relative;
    margin-top:10px;
    width:100%;
    background-color:#336799;
/* rounded corners */
    -moz-border-radius:5px;
/*Firefox */
    -webkit-border-radius:5px;
/* Safari, Chrome */
    border-radius:5px;
/* CSS3 */
    float:left;
    z-index:100;
    margin-bottom:20px;
}

#clickdata
{
    clear:left;
}

#slideShare
{
    float:left;
    padding-right:20px;
    padding-bottom:30px;
    padding-top:10px;
    width:525px;
    height:455px;
}

.scopGraph
{
    width:96%;
    padding-right:2%;
    padding-left:2%;
}

.generalErrors
{
    color: red;
    padding: 2%;
    font-size: 14px;
    font-weight: bold;
}

#itemmeta, #parentmeta
{
    display: block;
    width: 500px;
}

#nsfImg
{
    display: block;
    float: right;
    width: 30%;
    max-width: 138px;
    margin: 2px;
    padding: 1%;
    background: #EEBC8B;
}

#fundImg
{
    display: block;
    float: right;
    margin-bottom: 5px;
    border: solid 2px #EEBC8B;
}
 
#fundImg figcaption
{
    background: #EEBC8B;
    padding: 1px;
}
#nsfImg img
{
    width: 100%
}

#nsfImg figcaption
{
    text-align: center;
    font-style: italic;
}

#nsfImg figcaption a
{
    color: black;
    font-size: 12px;
    font-weight: normal;
}

#nsfImg img
{
    padding: 1px;
}

.required
{
    color:red;
}

.nextStep
{
	background-color:#336799;
	padding:10px 15px;
    width: 100px;
	color:#fff;
    text-align:center;
    -moz-border-radius:10px;
    /*Firefox */
    -webkit-border-radius:10px;
    /* Safari, Chrome */
    border-radius:10px;
    /* CSS3 */
}

.nextStep img
{
    vertical-align:middle;
}

/***** End class and id style *******/
/****** Start tooltip style *****/
.tooltip {
	background-color:#336799;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
.tooltip a {
	color: white;
}
.tooltip a:hover {
	text-decoration: underline
}

/***** End tooltip style ******/
/****** Start SlidingDiv *******/
.show_hide {
	display:none;
}
/****** End SlidingDiv *******/
/****** Start Tablesorter *******/
/* tables */

.tablesorter
{
    font-family:arial;
    background-color:#CDCDCD;
    margin:10px 0 15px;
    font-size:8pt;
    /*width:100%;*/
    text-align:left;
}

.tablesorter thead tr th,.tablesorter tfoot tr th, .tablesorter tr th
{
    background-color:#e6EEEE;
    border:1px solid black;
    font-size:8pt;
    padding:4px;
    padding-right:20px;
}

.tablesorter thead tr .header
{
    background-image:url(tablesorter/bg.gif);
    background-repeat:no-repeat;
    background-position:center right;
    cursor:pointer;
}

.tablesorter tbody td, .tablesorter td
{
    color:#3D3D3D;
    padding:4px 10px 4px 10px;
    background-color:#FFF;
    vertical-align:top;
    border:1px solid gray;
}

.tablesorter tbody tr.odd td
{
    background-color:#F0F0F6;
}

.tablesorter thead tr .headerSortUp
{
    background-image:url(tablesorter/asc.gif);
}

.tablesorter thead tr .headerSortDown
{
    background-image:url(tablesorter/desc.gif);
}

.tablesorter thead tr .headerSortDown,.tablesorter thead tr .headerSortUp
{
    background-color:#8dbdd8;
}

/**** End tablesorter ****/
/*******Start Feature Slider *******/
h3
{
    margin:0;
/*padding: 7px 0 0 0;
			font-size: 16px;*/
}

div#featureWrapper
{
    margin:3%;
    padding:2%;
    background-color:#EEBC8B;
    width:90%;
    height:90%;
}

div#feature_list
{
    width:80%;
    max-width:1000px;
    height:240px;
    overflow:hidden;
    position:relative;
    margin:auto;
    background-color:#FFF;
    border:solid 2px #000;
}

div#feature_list ul
{
    position:absolute;
    top:0;
    list-style:none;
    padding:0;
    margin:0;
    background-color:#FFF;
}

ul#tabs
{
    top:0;
    left:0;
    width:320px;
    height:100%;
    z-index: 2;
}

ul#tabs li
{
    font-size:12px;
    font-family:Arial;
    margin:0;
    padding:0;
    height:80px;
}

ul#tabs li img
{
    border:none;
    float:left;
    margin:auto;
}

ul#tabs li a
{
    color:#222;
    text-decoration:none;
    display:block;
    padding:10px;
    height:100%;
    outline:none;
    margin-top:0;
    padding-top:0;
}

ul#tabs li a.current
{
    background:url(/img/feature-tab.png);
    background-repeat:no-repeat;
    color:#FFF;
}

ul#tabs li a h3
{
    font-weight:700;
    font-size:120%;
    padding-left:0;
}

ul#output
{
    right:0;
    width:100%;
    height:100%;
    max-width:463px;
    max-height:240px;
    position:relative;
    background:#FFF;
}

ul#output li
{
    position:absolute;
    width:463px;
    height:240px;
    margin:0;
    padding:0;
}

ul#output li a
{
    position:absolute;
    bottom:10px;
    right:10px;
    padding:8px 12px;
    text-decoration:none;
    font-size:11px;
    color:#FFF;
    background:#336799;
    -moz-border-radius:5px;
}

ul#output li a:hover
{
    background:#DE7A18;
}

/******End Feature Slider *************/
/*********Start content box slider *******/
#slideContainer
{
    width:400px;
}

.bx-wrapper
{
    float: left;
    border:solid 5px #EEBC8B;
    padding: 2px 30px;
    margin: 10px 10px 23px 0px;
}

.bx-window
{
    padding-bottom: 5px;
}

.bx-next
{
    position: absolute;
    right: -20px;
    top: 60px;
}

.bx-prev
{
    position: absolute;
    left: -20px;
    top: 60px;
}

#slideTitle
{
    text-align: center;
    padding-top: 15%;
}

#slideTitle h1
{
    font-size: 20px;
    color: #336799;
}

#slideTitle h2
{
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width:1024px)
{
    #leftOfSlider
    {
         width: 100%;
         clear: both;
    }
}

/****** Emd Content Box Slider **********/
/***** Start Menu Style ********/
#nav
{
    background:#336799;
    line-height:100%;
    margin:0;
    padding-left:0;
    float:right;
    -moz-border-radius:5px;
/*Firefox */
    -webkit-border-radius:5px;
/* Safari, Chrome */
    border-radius:5px;
/* CSS3 */
}

#nav ul
{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:15px;
    padding-left:15px;
}

#nav li
{
    float:left;
    list-style:none outside none;
    margin:0;
    padding:0;
    position:relative;
    border-left:1px solid #FFF;
}

#nav a
{
    color:#FFF;
    display:block;
    font-weight:700;
    margin:0;
    padding:8px 20px;
    text-decoration:none;
}

#nav #current a,#nav li:hover > a
{
    background:#86ABD9;
    color:#000;
    font-weight:700;
}

#nav #current a#about,#nav li:hover > a#about
{
    -moz-border-radius:0 5px 5px 0;
/*Firefox */
    -webkit-border-radius:0 5px 5px 0;
/* Safari, Chrome */
    border-radius:0 5px 5px 0;
/* CSS3 */
}

#nav #current ul li a
{
    font-weight:400;
}

#nav #current ul li:hover > a
{
    font-weight:700;
}

#nav ul li:hover a,#nav li:hover li a
{
    background:none repeat scroll 0 0 transparent;
    border:medium none;
    color:#000;
}

#nav ul a:hover
{
    -moz-border-radius:0;
    background:#86ABD9;
    color:#000!important;
    font-weight:700;
}

#nav ul
{
    background:#86ABD9;
    display:none;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    top:28px;
    width:185px;
    z-index:100;
}

#nav li:hover > ul
{
    display:block;
}

#nav ul li
{
    float:none;
    margin:0;
    padding:0;
    border-top:1px solid #A7BDD2;
}

#nav ul a
{
    font-weight:400;
}

#nav:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    line-height:0;
    visibility:hidden;
}

#nav
{
    display:inline-block;
}

html[xmlns] #nav
{
    display:block;
}

* html #nav
{
    height:1%;
}

/*********End Menu******/

/***** Application Slider Start *****/
.contentslider {
  position:relative;
  display:block;
  width:900px;
  height:400px;
  margin:0 auto;
  overflow:hidden;
}
.cs_wrapper {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}
.cs_slider {
  position:absolute;
  width:10000px;
  height:100%;
  margin:0;
  padding:0;
}
.cs_article {
  float:left;
  position:relative;
  top:0;
  left:0;
  display:block;
  width:900px;
  height:400px;
  margin:0 auto;
  padding:0;
}

/******* End Application Slider *****/

/**** Start JQuery tabs *******/
.ui-widget-header
{
    background:repeat-x scroll 50% 50% #86ABD9;
/* Firefox 3.6+ */
    background:0;
/* Safari 4-5, Chrome 1-9 */
    background:0 to(#86ABD9));
/* Safari 5.1+, Chrome 10+ */
    background:0;
/* Opera 11.10+ */
    background:0;
}

/********Start Helper classes******/
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir
{
    display:block;
    text-indent:-999em;
    overflow:hidden;
    background-repeat:no-repeat;
    text-align:left;
    direction:ltr;
}

/* Hide for both screenreaders and browsers:
     css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden
{
    display:none;
    visibility:hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
    www.webaim.org/techniques/css/invisiblecontent/    &    j.mp/visuallyhidden */
.visuallyhidden
{
    border:0;
    clip:rect(0000);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus
{
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible
{
    visibility:hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
     j.mp/bestclearfix */
.clearfix:before,.clearfix:after
{
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
}

.clearfix:after
{
    clear:both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix
{
    zoom:1;
}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
@media all and orientationportrait {
    /* Style adjustments for portrait mode goes here */
    
}

@media all and orientationlandscape {
    /* Style adjustments for landscape mode goes here */
    
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
     consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and max-device-width 480px {
    /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
    /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
    
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    *
    {
        background:transparent!important;
        color:#000!important;
        text-shadow:none!important;
        filter:none!important;
        -ms-filter:none!important;
    }
    
    /* Black prints faster: sanbeiji.com/archives/953 */
    a,a:visited
    {
        color:#444!important;
        text-decoration:underline;
    }
    
    a[href]:after
    {
        content:" (" attr(href) ")";
    }
    
    abbr[title]:after
    {
        content:" (" attr(title) ")";
    }
    
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after
    {
        content:"";
    }
    
    /* Don't show links for images, or javascript/internal links */
    pre,blockquote
    {
        border:1px solid #999;
        page-break-inside:avoid;
    }
    
    thead
    {
        display:table-header-group;
    }
    
    /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr,img
    {
        page-break-inside:avoid;
    }
    
    @page
    {
        margin:.5cm;
    }
    
    p,h2,h3
    {
        orphans:3;
        widows:3;
    }
    
    h2,h3
    {
        page-break-after:avoid;
    }
}

/********Start Helper classes******/
