{% extends 'main/base.html' %}

{% block title %}
<h4>Welcome {{user.username}}!</h4>
{% endblock %}
{% block content %}
<section>

<nav id="submenu">
    <ul>
        <li><a href="{% url "profile" %}">My Profile</a></li>
        <li><a href="{% url "projects" %}">My Projects</a></li>

        {% for i in user.project_set.all %}
            <li><a href="{% url "projects" %}?p={{i.pk}}">&nbsp;&nbsp;&nbsp;&nbsp;{{i.name}}</a></li>
        {% endfor %}


        <li><a href="">Support</a></li>
    </ul>

</nav>

<div id="subcontent">
    {% block subcontent %}

    {% endblock %}

</div>


</section>
{% endblock %}