{% extends 'main/base.html' %}
{% load bootstrap_tags %}

{% block content %}

<div class="well">
<form class="form-horizontal" roleß="form" enctype="multipart/form-data" method="post" action="/account/login/">
   {% csrf_token %}      

       {{form|as_bootstrap_h}}
 
  	<div class="form-group">
  		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-primary" value="Login"/>
			<input type="reset" class="btn btn-default" value="Clear"/>
		</div>
	</div>

</form>

<hr>

<p>Not A User yet? <a href="{% url 'register' %}">Sign Up</a> Now</p>

</div>
{% endblock %}