{% extends 'main/base.html' %}


{% block content %}

<div class="page-header">
<h2>User Profile:</h2>
</div>

<div class="col-md-8 col-lg-6 col-sm-12">
	<div class="panel panel-default">
		<br>
		<dl class="dl-horizontal">
			<dt><strong>Username:</strong></dt><dd>{{user.username}}</dd>
			<dt><strong>Full Name:</strong><dd>{{user.get_full_name}} </dd>
			<dt><strong>Email:</strong><dd>{{user.email}} </dd>
			<dt><strong>Affiliation:</strong><dd>{{profile.affiliation}} </dd>
			<dt><strong>Position:</strong><dd>{{profile.position}} </dd>
			<dt><strong>Date Joined:</strong><dd>{{user.date_joined}} </dd>
			<dt><strong>Last Login:</strong><dd>{{user.last_login}} </dd></dd>
			<dt></dt><dd><a href="">Edit</a></dd>
			<dt></dt><dd><a href="">Change Password</a></dd>
		</dl>
	</div>
</div>
{% endblock %}