{% extends 'main/base.html' %}
{% load filters %}

{% block content %}
<div class="page-header">
<h2>List of {{user.username}}'s Projects</h2>
</div>

<table class="table table-striped table-hover">


    <tr>
        {% for i in field_list %}
              <td>{{ i }}</td>
        {% endfor %}
    </tr>
    
    {% for j in user.project_set.all %}
        <tr>
            {% for i in field_list %}
                {% if i == "name" %}
                    <td><a href="{% url "projects" %}?p={{j.pk}}">{{ j|getattr:i }}</a></td>                  
                {% else %}
                    <td>{{ j|getattr:i }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

</table>

<br>



<a href="{% url 'projedit' %}"><button class="btn btn-default">Create a New Project</button></a>




{% endblock %}