{% extends 'main/base.html' %}

{% block content %}
<div class="page-header">
<h2>Project Detail:</h2>
</div>

<!-- <div class="col-md-8 col-lg-6 col-sm-12"> -->
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Name:</strong> {{proj.name}}</div>

				<ul class="list-group">
					<li class="list-group-item"><strong>Description</strong> {{proj.description}} </li>
					<li class="list-group-item"><strong>Agreement:</strong> {{proj.agreement}} </li>
					<li class="list-group-item"><strong>Experiment:</strong> {{proj.experiment}} </li>
					<li class="list-group-item"><strong>Plate:</strong> {{proj.plate}} </li>
					<li class="list-group-item"><strong>Replicate:</strong> {{proj.replicate}} </li>
					<li class="list-group-item"><strong>Score:</strong> {% for i in proj.score.all %}{{i.name}}&nbsp;{% endfor %}</li></li>
					<li class="list-group-item"><strong>Leader:</strong> {{proj.leader}} </li></li>
					<li class="list-group-item"><strong>Associate Users:</strong> {% for i in proj.user.all %} {{i.username}} {% endfor %}</li></li>
					<li class="list-group-item"><a href="{% url 'projedit' %}?p={{proj.pk}}">Edit</a></li>
				</ul>

	</div>
<!-- </div> -->

{% endblock %}

