{% extends 'account/accountbase.html' %}
{% load filters %}

{% block subcontent %}
<h4>List of all my projects:</h4><br>


<table>


    <tr class="tablehead">
        {% for i in field_list %}
              <td>{{ i }}</td>
        {% endfor %}
    </tr>
    
    {% for j in user.project_set.all %}
        <tr class="{% cycle "odd" "even" %}">
            {% for i in field_list %}
                {% if i == "name" %}
                    <td><a href="{% url "projects" %}?p={{j.pk}}">{{ j|getattr:i }}</a></td>                  
                {% else %}
                    <td>{{ j|getattr:i }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

</table>

<br><a href=''>Create a new project</a>
{% endblock %}