{% extends 'main/base.html' %}
{% load filters %}

{% block content %}

<div class="page-header">
<h2>All Submissions of Project: {{proj.name}}</h2>
</div>


<table class="table table-bordered table-striped .table-hover">


    <tr>
        {% for i in field_list %}
              <td>{{ i }}</td>
        {% endfor %}
    </tr>
    
    {% for j in proj.submission_set.all %}
        <tr>
            {% for i in field_list %}


                {% if i == "status" %}
                    <td>{{j.get_status_display}}</td>                  
                {% else %}{% if i == "plates" %}
                    <td>
                    {% for l in j.submission_plate_list_set.all %}
                    {{l.plate}}
                    {% endfor %}
                    </td>
                {% else %}
                    <td>{{ j|getattr:i }}</td>
                {% endif %}{% endif %}



            {% endfor %}
        </tr>
    {% endfor %}

</table>

{% endblock %}