{% extends 'main/base.html' %}
{% load filters %}

{% block content %}
<div class="page-header">
<h2>List of {{user.username}}'s Projects</h2>
</div>


<div class="panel-group" id="accordion">

{% for j in user.project_set.all %}

<div class="panel panel-info">

<div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{x.pk}}">
    <h4 class="panel-title">Project: {{j.name}}</h4>
    </a>
</div>

<div id="collapse{{x.pk}}" class="panel-collapse collapse{% if x.pk == proj_id %} in{% endif %}">
<br>
    <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt><dd>{{j.name}}</dd>
        <dt><strong>Description</strong></dt><dd>{{j.description}}</dd>
        <dt><strong>Agreement:</strong></dt><dd>{{j.agreement}} </dd>
        <dt><strong>Experiment:</strong></dt><dd>{{j.experiment}} </dd>
        <dt><strong>Plate:</strong></dt><dd>{{j.plate}} </dd>
        <dt><strong>Replicate:</strong></dt><dd>{{j.replicate}} </dd>
        <dt><strong>Score:</strong></dt><dd>{% for i in j.score.all %}{{i.name}}&nbsp;{% endfor %}</dd>
        <dt><strong>Leader:</strong></dt><dd>{{j.leader}} </dd>
        <dt><strong>Associate Users:</strong></dt><dd>{% for i in j.user.all %} {{i.username}} {% endfor %}</dd>
        <dt><strong>Actions</strong></dt><dd><a href="{% url 'projedit' %}?p={{j.pk}}"><button class="btn btn-warning btn-xs">Edit</button></a></dd>
    </dl>

</div>
<div class="panel-footer"></div>
</div>
{% endfor %}
</div>

<br>



<a href="{% url 'projedit' %}"><button class="btn btn-default">Create a New Project</button></a>




{% endblock %}