{# This is the base template for all web pages #}
{% load staticfiles %}


<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <title>MightyScreen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
    
    {% block css %}

    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="padding-top:65px;padding-bottom:50px;">
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">MightyScreen</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.resolver_match.url_name == 'uploadview' %}class="active"{% endif %}><a href="{% url "uploadview" %}">Upload</a></li>
                    <li {% if request.resolver_match.url_name == 'tableview' %}class="active"{% endif %}><a href="{% url "tableview" %}">TableView</a></li>
                    <li {% if request.resolver_match.url_name == 'plateview' %}class="active"{% endif %}><a href="{% url "plateview" %}">PlateView</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Proj:{% if request.session.project %}<span id="curProjectName" class="badge">{{request.session.project_name}}</span>{% endif %}
                    <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            {% for project in user.project_set.all %}
                                {% if request.session.project != project.id.hex %}
                                    <li><a href="{% url 'project-list' %}{{ project.id }}/use">{{ project.name|title }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a href="{% url 'project-new' %}">New Project</a></li>
                            <li><a href="#" onclick="change_proj_name('{{request.session.project}}','{{request.session.project_name}}');">Rename Project</a></li>
                            <li><a href="#" onclick="delete_proj('{{request.session.project}}','{{request.session.project_name}}');">Delete Project</a></li>
                            
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url "project-new" %}" onclick="return confirm('All data will be lost. Are you sure?')">ClearData</a></li>
                    {% endif %}

                    <li><a href="{% url 'data-to-csv' %}">ExportData</a></li>
                    <li><a href="http://longfei-wang.github.io/mightyscreen/" target="_top">Help</a></li>

                </ul>

                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                         <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "profile" %}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "logout" %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <p class="navbar-text navbar-right">
                        Welcome, {{user.username}}
                    </p>


                {% else %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url "login" %}?next={{request.path}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


<!-- row of columns -->
<div class="wrapper container-fluid">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
                {# all messages will be displayed here #}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags in 'error debug'  %}danger{% else %}{{message.tags}}{% endif %}">{{message|safe}}
                            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div id="nodata" class="hide"> 
                    <div class="alert alert-danger">
                    There is no data in your current project. Do you want to <a href="{% url 'data-demo' %}">Load Demo</a>?
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    </div>
                </div>

                <div id="contentblock">
                {% block content %}
                
                {% endblock %}
                </div>
        </div>

    </div>


    <hr>
    <div class="row container">
        <footer>
            <p>
            Copyright © MightyScreen 2013 ||
            <a href='https://github.com/longfei-wang/mightyscreen'>SourceCode</a>
            </p>
        </footer>
    </div>
</div> <!-- /container -->

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/bootbox.min.js" %}"></script>

<script>
var change_proj_name = function(pk,name) {
    bootbox.prompt({
        title: "Please input the new name for current project",
        value: name?name:'',
        callback: function(result) {                
            if (result === null) {                                             
                                              
            } else {
                $.get('{% url "project-list" %}'+pk+'/rename/',{name:result},function(d) {
                    if (d.name) {
                        location.reload();
                    }
                });                          
            }
        }
    });
}

var delete_proj = function(pk,name) {
    bootbox.confirm("All data in project "+name+" will be lost. Are you sure?", function(result) {
    if (result) {
        $.get('{% url "project-list" %}'+pk+'/delete/',{},function(d){
            if (d.results) {
                location.reload();
            }
        });
    }
});

}

// var confirm_action = function(message,url) {
//     bootbox.confirm(message, function(result) {
//     if (result) {

//     }
// }); 
// }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66598191-1', 'auto');
  ga('send', 'pageview');

</script>

{% block script %}

{% endblock %}

</body>
</html>
