{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

<!-- add own stylesheet-->
<link rel="stylesheet" type="text/css" href="{% static 'myStyle.css' %}">

{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12 col-sm-12" id="plateSelector">
            </div>

        </div>

    <hr>
        <div class="row">
            <div class="col-md-12" id="chemicalVis"></div>
        </div>
    <hr>
        <div class="row">
            <div class = "col-md-6">

            <div class="col-md-12 row" id="dropdowns">
            </div>


            <div class="col-md-12" id="distVis1">
            </div>

            <div class="col-md-12" id="distVis2">
            </div>      

            <div class="col-md-12" id="distVis3">
            </div>    

            </div>
            <div class = "col-md-6" id="plateVis">

            </div>

        </div>

<hr>
        <div class="row">
            <div class="col-md-6" id="scatterVis1">
            </div>          
            <div class="col-md-6" id="scatterVis2">
            </div>
        </div>


    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}

{% block script %}
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src = '{% static "plate_selector.js"%}'></script>
<script src = '{% static "dist.js"%}'></script>
<script src = '{% static "plate.js"%}'></script>
<script src = '{% static "scatter.js"%}'></script>
<script src = '{% static "chemical.js"%}'></script>



<script>
$(function(){ // this function is called after the HTML document is fully loaded


    //==========================================
    //--- HERE IS WHERE ALL THE MAGIC STARTS --
    //==========================================
    var url = "{% url 'data-list' %}";
    var markUrl = "{% url 'data-list' %}";
    // variables keeping global knowledge of the data
    var thisData = [];
    //brushed region
    var brush = {};
    // this function can convert Date objects to a string
    // it can also convert strings to Date objects
    // see: https://github.com/mbostock/d3/wiki/Time-Formatting
    var dateFormatter = d3.time.format("%Y-%m-%d");


    var wrangleData = function(_data) {
        
        thisData = $.extend({},_data);

        // thisData.results = _data.results.map(function (d) {
        
        //     var res = {
        //         platewell: d.plate_well,
        //         plate:d.plate,
        //         well:d.well,
        //         welltype:d.welltype,
        //     };

        //     thisData.channels.map(function(c,i){
        //         res[c] = parseFloat(d["readout"+(i+1)]);
        //     });

        //     // clean up svg make it symbol and set the id to be 'sym'+platewell suppose to be unique
        //     //res.svg = d.svg ? "<symbol id='sym" + d.platewell + "'" + d.svg.split("<svg")[2].split("</svg>")[0]+"</symbol>" : "";

        //     return res;
        // });
    }

    // call this function after Data is loaded, reformatted and bound to the variables
    var initVis = function(){

        //TODO: Create an eventHandler  --> DONE :)
        var MyEventHandler = new Object();

        //TODO: Instantiate all Vis Objects here

        //TODO: channel selector
        var dropdowns = d3.select("#dropdowns")
            .selectAll("select")
            .data([1,2,3])
            .enter()
            .append("div")
            .attr("class","col-md-3")
            .text(function(d){return "Channel "+d+": ";})
            .append("select")
            .attr("id",function(d) { return "select"+d;})
            .on("change",function(d) {
                $(MyEventHandler).trigger("channel",d);
        });

        dropdowns.selectAll("option")
            .data(thisData.channels)
            .enter()
            .append("option")
            .text(function(d) {return d;});


        //set the default
        d3.select("#select1").node().value = thisData.channels[0];
        d3.select("#select2").node().value = thisData.channels[1] ? thisData.channels[1] : thisData.channels[0];//if there is no more readouts just use readout 1
        d3.select("#select3").node().value = thisData.channels[2] ? thisData.channels[2] : thisData.channels[0];

        //select which plate to display
        var plateselector = new PlateSelector(d3.select("#plateSelector"),thisData,MyEventHandler);

        //channel 1 for selection
        var distvis1 = new DistVis(d3.select("#distVis1"),thisData,d3.select("#select1").node().value,MyEventHandler);
        
        //channel 2 for selection
        var distvis2 = new DistVis(d3.select("#distVis2"),thisData,d3.select("#select2").node().value,MyEventHandler);
        
        //channel 3 for selection
        var distvis3 = new DistVis(d3.select("#distVis3"),thisData,d3.select("#select3").node().value,MyEventHandler);

        //Chemical View 
        var chemicalvis = new ChemicalVis(d3.select("#chemicalVis"),thisData,MyEventHandler);

        //plate heat plot
        var platevis = new PlateVis(d3.select("#plateVis"),thisData,MyEventHandler)

        //scatter plot
        var scattervis1 = new ScatterVis(d3.select("#scatterVis1"),thisData,d3.select("#select1").node().value,d3.select("#select2").node().value,MyEventHandler);

        var scattervis2 = new ScatterVis(d3.select("#scatterVis2"),thisData,d3.select("#select1").node().value,d3.select("#select3").node().value,MyEventHandler);

        //chemical cloud
        //var cloudvis = new CloudVis(d3.select("#cloudVis"),groupedData[0].values,channel_1,1,MyEventHandler);




        // TODO: bind the eventHandler to the Vis Objects
        // events will be created from the CountVis object (nothing to do here)
        // events will be consumed by the PrioVis and AgeVis object (binding should happen here)
        $(MyEventHandler).bind("brush", function(event, s, e, c){
            
            brush[c] = [s,e];

            //update these visualization
            platevis.onSelectionChange(brush);
            scattervis1.onSelectionChange(brush);
            scattervis2.onSelectionChange(brush);
        });


        $(MyEventHandler).bind("plate", function(event, p){
            $.get(url,
                {'plate':p},
                function(d){
                    
                    wrangleData(d);

                    plateselector.onPlateChange(p);
                    distvis1.onPlateChange(thisData);
                    distvis2.onPlateChange(thisData);
                    distvis3.onPlateChange(thisData);
                    platevis.onPlateChange(thisData);
                    scattervis1.onPlateChange(thisData);
                    scattervis2.onPlateChange(thisData);
                    //cloudvis.onPlateChange(thisData);
                    chemicalvis.onPlateChange(thisData);

                });
        });

        $(MyEventHandler).bind("select", function(event, plate_well){
            
            //this is what happed after one select a compound
            $.get(markUrl+plate_well+"/mark/",
                {},
                function(d) {
                    //console.log(d);
                    chemicalvis.onChemSelectionChange(plate_well);
                    platevis.onChemSelectionChange(plate_well);      
            });
            //update these visualization

        });

        $(MyEventHandler).bind("channel", function(event, c){

            var c1 = d3.select("#select1").node().value;
            var c2 = d3.select("#select2").node().value;
            var c3 = d3.select("#select3").node().value;

            distvis1.onChannelChange(c1);
            distvis2.onChannelChange(c2);
            distvis3.onChannelChange(c3);
            scattervis1.onChannelChange(c1,c2);
            scattervis2.onChannelChange(c1,c3);
            platevis.onChannelChange(c1);

        });
    }


    // call this function after both files are loaded -- error should be "null" if no error
    var dataLoaded = function (error, _data) {

        if (!error) {

            wrangleData(_data);
            
            //aggregate data based on plate number
            //console.log(thisData);
            initVis();
        }
    }



    var startHere = function(){

        //TODO: load data here and call "dataLoaded" afterwards
        // Hint: http://giscollective.org/d3-queue-js/
        queue()
        .defer(d3.json,url)
        .await(dataLoaded);


    }

    startHere();
})
</script>


{% endblock %}
