{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}


{% endblock %}



{% block content %}

<div id="visualization">

	<div class="row">
	    <div class="col-md-12 col-sm-12" id="plateSelector">
	    </div>

	</div>

	<div class="row well">
	    <div class="btn-group" role="group" aria-label="demo">
	        <a href="{% url 'data-layout' %}" class="btn btn-default">Appy current layout to other plates</a>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12" id="tableview">
		</div>
	</div>

</div>

{% endblock %}


{% block script %}
<!-- <script src='{% static "util.js" %}'></script> -->
<script src='{% static "tablevis.js" %}'></script>
<script src = '{% static "plate_selector.js"%}'></script>
<script>
$(function() {

	var url = '{% url "data-list" %}';

	var MyEventHandler = new Object();

	var wrangleData = function(_data) {

		return _data;

	}

	// loading();

	d3.json(url,function(d){

		var thisData = wrangleData(d);
		
		//if there is not data display the nodata warning and return
        if (thisData.results.length < 1) {
            d3.select("#nodata").attr('class','');
            d3.select("#visualization").attr('class','hide');
        	return;
        }

		var tableview =new TableVis(d3.select("#tableview"),thisData,MyEventHandler);	
		
		var plateselector = new PlateSelector(d3.select("#plateSelector"),thisData,MyEventHandler);

        $(MyEventHandler).bind("hit", function(event, plate_well){

            d3.json(url+plate_well+'/mark',function(d){
            });
            //update these visualization

        });

        $(MyEventHandler).bind("welltype", function(event, plate_well, welltype){
            d3.json(url+plate_well+'/set'+welltype,function(d){
            });
            //update these visualization

        });

        $(MyEventHandler).bind("plate", function(event, p){

        	// loading();
            
            $.get(url,
                {'plate':p},
                function(d){
                    
                    plateselector.onPlateChange(p);
                    tableview.onPlateChange(wrangleData(d));
                    // loading_done();
                });
        });

        // loading_done();
	});

});


</script>

{% endblock %}

