{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

<link href="{% static "css/fileinput.min.css" %}" rel="stylesheet" type="text/css">

{% endblock %}



{% block content %}

<div class="row well">
    <div class="btn-group" role="group" aria-label="demo">
        <a href="{% url 'data-demo' %}" onclick="return confirm('Demo will overwrite your current data. Do you want to continue?')" class="btn btn-default">Load Demo</a>
        <a href="https://github.com/longfei-wang/mightyscreen/tree/production2/samplefiles" class="btn btn-default" target="_blank">Download Sample Demo File</a>
    </div>
</div>

<div class="row">
    <input id="input-700" name="raw_csv_file" type="file" multiple class="file-loading">
</div>

<br />
<br />

<div id="clean"></div>

<div id="parse"></div>
{% endblock %}





{% block script %}

<script src="{% static "js/fileinput.min.js" %}"></script>
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


function updateParse(d,fid) {

    var response = d

    d3.select('.parseform').remove();
    
    var form = d3.select('#parse')
    .append('div')
    .attr('class','parseform well')

    var plateform = form
        .append('div')
        .attr('class','plateform form-group');

    plateform.append('label')
        .text('Rename Plates: '+response.plates.join(','));

    plateform.append('input')
        .attr('class','form-control')
        .attr('name',fid+'plates')
        .attr('value',response.plates.join(','));

    var supported_options = "identifier cid name smiles inchi sdf inchikey formula listkey".split(" ");
    //readouts name form
    var readoutform = form

    readoutform.append('label')
        .text('Select Readouts (check to select)');
    
    readoutform.selectAll('.readoutform')
        .data(response.titles.filter(function(d){return supported_options.indexOf(d) == -1;}))
        .enter()
        .append('div')
        .attr('class','checkbox readoutform')
        .append('label')
        .html(function(d,i){
            return '<input name="'+fid+'readout[]" type="checkbox" value="'+d+'" checked> '+i+'. '+d;
        });


    form.append('label')
        .text('Select Chemical Identifier (Select None if not available)')
    //identifier form
    var identifierform = form
        .append('select')
        .attr('name','identifier')
        .attr('class','form-control identifierform')

    // identifierform
    //     .append('option')
    //     .attr('selected','selected')
    //     .text('HMS-ICCB');


    var supported_titles = response.titles.filter(function(d){
        
        return supported_options.indexOf(d.toLowerCase()) > -1;
        
    });

    identifierform.selectAll('option')
        .data(supported_titles.concat('HMS','None'))
        .enter()
        .append('option')
        .attr('value',function(d){return d})
        .text(function(d){return d});

    //positive controls and negative controls
    // var controlform = form
    //     .append('div')
    //     .attr('class','controlform form-group');

    // plateform.append('label')
    //     .text('Mark Wells as Positive controls.');

    // plateform.append('input')
    //     .attr('class','form-control')
    //     .attr('name',fid+'positives')
    //     .attr('value','B23,C23,D23,E23,F23,G23,H23,I23,J23,K23,L23,M23,N23,O23');

    // plateform.append('label')
    //     .text('Mark Wells as Negative controls.');

    // plateform.append('input')
    //     .attr('class','form-control')
    //     .attr('name',fid+'negatives')
    //     .attr('value','B24,C24,D24,E24,F24,G24,H24,I24,J24,K24,L24,M24,N24,O24');


    form.append('button')
        .attr('class','btn btn-default')
        .text('Confirm and Submit')
        .on('click',function(){
            //array of old/new plate numbers and readouts
            var data = {
                oplates: d.plates,
                // oreadouts: d.titles,
                plates: $('input[name="' + fid +'plates"]').val().split(','),
                readouts: d3.selectAll('input[name="' + fid +'readout[]"]:checked')[0].map(function(d){ return d.value;}), //!!
                // positives: $('input[name="' + fid +'positives"]').val().split(','),
                // negatives: $('input[name="' + fid +'negatives"]').val().split(','),
                identifier: $('select[name="identifier"]').val(),
                }
            $.post(
                "{% url 'csv_file-list' %}"+fid+"/parse/",
                data,   
                function(d){
                    if (d.results) {
                        bootbox.alert("Data Loaded Successfully!");
                        d3.select('.parseform').remove();
                    }
                }
            );
        });

}

function updateClean(filename,fid,pid) {
    //Create a button to call the clean method of file on server
    // d3.select('#clean')
    // .append('button')
    // .attr('class','btn btn-default')
    // .text("Click to process "+filename)
    // .on("click",function(){
    //     $.get("{% url 'csv_file-list' %}"+fid+"/clean/",function(d){
    //         console.log(d);
	   //  updateParse(d,fid);
    //     });
    // });
    
    $.get("{% url 'csv_file-list' %}"+fid+"/clean/",function(d){
        updateParse(d,fid);
    });
}

function init() {
    


    $("#input-700").fileinput({
        uploadUrl: "{% url 'csv_file-list' %}", // server upload action
        uploadAsync: true,
        maxFileCount: 1,
    });

    $('#input-700').on('filepreupload', function(event, data) {
    	data.jqXHR.setRequestHeader("X-CSRFToken",csrftoken) //csrf token
    });

    $('#input-700').on('fileuploaded', function(event, data) {
        var response = data.response;
        updateClean(data.files[0].name,data.response.id,data.response.project);
    });

}

init();

</script>
{% endblock %}
