{# This is the base template for all web pages #}
{% load staticfiles %}
<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <title>MightyScreen</title>
    <link href="{% static "main/css/main.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='wrapper'>
        <header id='banner'>
            <span id='logo'>MightyScreen</span><span id='headertext'><i>Play with your own data</i></span>
        </header>

        <nav>
            <span id="menubar">
                <a href="{% url "index" %}">Main Page</a>|
                <a href="{% url "view" %}">View Data</a>|
                <a href="{% url "upload" %}">Upload Data</a>
            </span>
            <span id="loginbar">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}&nbsp;(<a href="{% url "myaccount" %}">Account</a>,&nbsp;<a href="{% url "logout" %}">Logout</a>).

                    {% if request.session.proj %}
                        Current Project&nbsp;(<a href="{% url "projselect" %}">{{request.session.proj}}</a>)
                    {% else %}
                        <a href="{% url "projselect" %}">Please Choose a Project</a>
                    {% endif %}
                    
                {% else %}
                    Welcome, Please <a href="{% url "login" %}">Log in</a>. Not a user? <a href="{% url "register" %}">Sign up</a>
                {% endif %}
            </span>
        </nav>

        <div id="mainsection">

                {% block title %}
                {% endblock %}



                {% block content %}
                {%endblock%}

        </div>


        <footer id="footer">
            Under development.... || copyright reserved || 
            <a href='https://github.com/longfei-wang/mightyscreen'>github</a> || 
            <a href="{% url "admin:index" %}">admin</a>
        </footer>

    </div>
</body>

</html>
