{# This is the base template for all web pages #}
{% load staticfiles %}
<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <title>MightyScreen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main/css/main.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="padding-top:65px;">
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MightyScreen</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url "index" %}">Home</a></li>
                    <li><a href="{% url "view" %}">View</a></li>
                    <li><a href="{% url "upload" %}">Upload</a></li>
                    <li><a href="{% url "process" %}">Process</a></li>
                    <li><a href="">Stats</a> 
                </ul>
                {% if user.is_authenticated %}
                    <p class="navbar-text navbar-right">
                
                        Welcome, {{ user.username }} (<a href="{% url "myaccount" %}">Account</a>,<a href="{% url "logout" %}">Logout</a>) Projec:
                            {% if request.session.proj %}
                                <a href="{% url "projselect" %}">{{request.session.proj}}</a>
                            {% else %}
                                <a href="{% url "projselect" %}">choose</a>
                            {% endif %}
                    </p>
                {% else %}
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                    
                        <button type="submit" class="btn btn-success">Sign in</button>
                        <a href="{% url "login" %}">Log in</a>. Not a user? <a href="{% url "register" %}">Sign up</a>
                    </form>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->





<!-- row of columns -->
<div class="wrapper">

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="well sidebar-nav">

                    <ul>
                        <li>Menu</li>
                    </ul>

            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="jumbotron">
                  <div class="container">
                    <h1>Hello, world!</h1>
                    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
                  </div>
                </div>
                {% block content %}
                {%endblock%}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <footer>
                Under development.... || copyright reserved || 
                <a href='https://github.com/longfei-wang/mightyscreen'>github</a> || 
                <a href="{% url "admin:index" %}">admin</a>
            </footer>
        </div>
        </div>
    </div>
</div> <!-- /container -->

   <!--  <div class=​"navbar navbar-inverse navbar-fixed-top" role=​"navigation">​
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MightyScreen</a>
            </div>
                <span>
                    <a href="{% url "index" %}">Main</a> |
                    <a href="{% url "view" %}">View</a> |
                    <a href="{% url "upload" %}">Upload</a> |
                    <a href="{% url "process" %}">Process</a> |
                    <a href="">Stats</a> |
                </span>
            
            <span>
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}&nbsp;(<a href="{% url "myaccount" %}">Account</a>,&nbsp;<a href="{% url "logout" %}">Logout</a>).
                    Project&nbsp;
                    {% if request.session.proj %}
                        (<a href="{% url "projselect" %}">{{request.session.proj}}</a>)
                    {% else %}
                        <a href="{% url "projselect" %}">choose</a>
                    {% endif %}
                    
                {% else %}
                    Welcome, Please <a href="{% url "login" %}">Log in</a>. Not a user? <a href="{% url "register" %}">Sign up</a>
                {% endif %}
            </span>
        </div>
    </div>
 -->











<script src="{% static "main/js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "main/js/bootstrap.min.js" %}"></script>

{% block script %}
{% endblock %}
</body>

</html>
