{# This is the base template for all web pages #}
{% load staticfiles %}


<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <title>MightyScreen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main/css/main.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="padding-top:65px;padding-bottom:50px;">
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MightyScreen</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "index" %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Project{% if request.session.proj %}<span class="badge">{{request.session.proj}}</span>{% endif %}
                     <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'projedit' %}?action=new">New Project</a></li>
                            <li><a href="{% url 'projedit' %}">Edit Project</a></li>
                            <li><a href="{% url "projects" %}">View Project</a></li>
                            <li class="divider"></li>
                            {% for i in user.project_set.all %}
                                <li><a href="{% url "projselect" %}?p={{i.pk}}">{{i.name|title}}</a></li>
                            {% endfor %}                            
                        </ul>
                    </li>
                    <li><a href="{% url "jobview" %}">Jobs</a></li>
                    {% endif %}

                    <li><a href="{% url 'documents' %}">Documents</a></li>
                    <li><a href="https://github.com/longfei-wang/mightyscreen/issues">Contact Us</a></li>

                </ul>

                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                         <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "profile" %}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "logout" %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <p class="navbar-text navbar-right">
                        Welcome, {{user.username}}
                    </p>


                {% else %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


<!-- row of columns -->
<div class="wrapper">

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="well sidebar-nav">

                    <ul class="nav nav-pills nav-stacked">
                        
                        <li><a href="{% url "upload" %}">Process</a></li>
                        <li><a href="{% url "score" %}">Evaluate</a></li>
                        <li><a href="{% url "view" %}">List</a></li>
                        <li><a href="{% url "stat_index" %}">Plot</a> </li>
                    </ul>

            </div>

            {% if plates %}
            <div class="well"><!-- plate selector -->
                <form role="form" class="form-horizontal">
                <div class="form-group">
                <label class="col-sm-3 control-label">Plates</label>
                    <div class="col-sm-9">
                        <select multiple id="plate-selector" class="form-control" size={{plates|length}}>
                        {% for i in plates %}

                            <option {% if i in plates_selected %}selected="selected"{% endif %} value="{{i}}">{{i}}</option>    
                        {% endfor %}
                        </select>
                    </div>
                </div>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
                {# all messages will be displayed here #}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags in 'error debug'  %}danger{% else %}{{message.tags}}{% endif %}">{{message|safe}}
                            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                
                {% endblock %}
        </div>

    </div>


    <hr>
    <div class="row">
        <footer>
            <p>
            Under development.... || copyright reserved || 
            <a href='https://github.com/longfei-wang/mightyscreen'>github</a> || 
            <a href="{% url "admin:index" %}">admin</a>
            </p>
        </footer>
    </div>
</div> <!-- /container -->

<script src="{% static "main/js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "main/js/bootstrap.min.js" %}"></script>
<script>

//for plate selector module under menu
$("#plate-selector").change(function(){
    $("#selector-target").val($(this).val());
});

//to disable readonly select box. 
$("select[readonly] > option:not([selected])").prop('disabled',true)

</script>
{% block script %}
{% endblock %}
</body>

</html>
