{% extends 'main/base.html' %}
{% load filters %}
{% block content %}

{% if entry_list %}
<div class="alert alert-success">Found <span class="badge">{{num_entries}}</span> Entries!
<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
</div>
{% else%}
<div class="alert alert-warning">No Results Found!
<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
</div>
{% endif %}


<form enctype="multipart/form-data" method="post" class="form-inline" role="form" action="{% url "view" %}">
{% csrf_token %}

<div class="well">

    <input type="hidden" name="plates" id="selector-target">
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary">
    </div>
    <div class="form-group">
        <select name="field" class="form-control">
            {% for i in field_list %}
                <option value="{{i.name}}">{{ i.verbose_name }}</option>
            {% endfor %}
        </select>


        <select name="sign" class="form-control">
                <option value="exact">=</option>
                <option value="gt">></option>
                <option value="gte">>=</option>
                <option value="lt"><</option>
                <option value="lte">>=</option>
                <option value="iexact">like</option>
                <option value="icontains">contain</option>
        </select>
    </div>

    <div class="form-group"> 
        <input type="text" name="querytext" id="query1" class="form-control">
    </div>

    (

    <div class="form-group">
        <select name="joint" class="form-control">
                 <option value=""></option>
                <option value=",">AND</option>
                <option value="|">OR</option>
                <option value=",~">NOT</option>
        </select>
        

        <select name="field2" class="form-control">
            {% for i in field_list %}
                <option value="{{i.name}}">{{ i.verbose_name }}</option>
            {% endfor %}
        </select>

        <select name="sign2" class="form-control">
                <option value="exact">=</option>
                <option value="gt">></option>
                <option value="gte">>=</option>
                <option value="lt"><</option>
                <option value="lte">>=</option>
                <option value="iexact">like</option>
                <option value="icontains">contain</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" name="querytext2"  class="form-control">

    </div>
    )

</div>

    <div class="panel" id="accordion"><!-- The field selector -->

        <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
        <h4 class="panel-title">Customize Display</h4>
        </a>


        </div>
        <div id="collapse" class="collapse">
            <input type="hidden" name="fieldlist" id="fieldlist_id" value="{% for i in field_list %}{{i.name}},{% endfor %}">
        <div class="well">
        
        <dl>
            <dt>Compound Info</dt>
            {% for i in allfield_list %}
            {% if i.name != 'divider' %}
            <dd><input class="fieldcheckbox" type="checkbox" {% if i in field_list %}checked{% endif %} field="{{i.name}}">&nbsp;&nbsp;{{i.verbose_name}}</dd>
            {% else %}
            </dl><dl><dt>{{i.verbose_name}}</dt>
            {% endif %}
            {% endfor %}
        </dl>
        <a href="?fieldreset=1">Reset</a>
        </div>
        </div>
    </div>

</form>



{% if entry_list %}

<div>


<ul class="pagination"><!-- Pages -->
    <li class="{{pbutton_attr}}"><a href='?page=1'>First</a></li>
    <li class="{{pbutton_attr}}"><a href='?page={{prev_page}}'>Prev</a></li>
    {% for i in pages %}
    <li class="{% if i == curr_page %}active{% endif %}"><a href='?page={{i}}'>{{i}}</a></li>
    {% endfor %}
    <li class="{{pbutton_attr}}"><a href='?page={{next_page}}'>Next</a></li>
    <li class="{{pbutton_attr}}"><a href='?page={{last_page}}'>Last</a></li>
</ul>

<div class="pagination pull-right">

<div class="btn-group"><!-- Apply Filters -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Apply Filters <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li><a id="" href="{% url 'view' %}?filter=ishit">Hit</a></li>
    <li><a id="" href="{% url 'view' %}?filter=LYfilter">LYfilter</a></li>
    <li class="divider"></li>
    <li><a  href="">Reset Filters</a></li>
  </ul>
</div>

<div class="btn-group"><!-- Hit List Management -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add to HitList <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li><a id="hitlistsubmit" href="javascript:;">Add Checked</a></li>
    <li><a  href="{% url "addtohitlist" %}">Add All Results</a></li>
    <li class="divider"></li>
    <li><a  id="hitlistremove" href="javascript:;">Remove Checked</a></li>
    <li><a  href="{% url "addtohitlist" %}?reset=1">Remove All</a></li>
  </ul>
</div>

<div class="btn-group"><!-- Export Function -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Export <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li><a href="{% url 'export' %}?format=csv" target="_blank">To CSV</a></li>
    <li><a href="{% url 'export' %}?format=xml" target="_blank">To XML</a></li>
    <li><a href="{% url 'export' %}?format=json" target="_blank">To Json</a></li>
  </ul>
</div>

</div>

</div>

<table class="table table-striped table-hover table-condensed table-responsive" id="list">

    <tr>
        <td><input type="checkbox" id="checkall"></td><td></td>
        {% for i in field_list %}
            <td>
                <strong><a href='?order={% if i.name == pre_order %}-{% endif %}{{i.name}}'>{{ i.verbose_name }}</a></strong>
            </td>
        {% endfor %}
    </tr>
    
    {% for j in entry_list %}
        <tr>
            <td><input type="checkbox" platewell="{{j.platewell}}" class="hitlistcheckbox"></td>
            <td>{% if j.compound_pointer %}
                <button class="btn btn-default btn-xs cmpdTrigger" platewell="{{j.platewell}}" plate="{{j.plate}}" well="{{j.well}}"><span class="glyphicon glyphicon-eye-open"></span></button>
                {% endif %}
            </td>
            {% for i in field_list %}
                {% if 'compound_pointer__' in i.name %}
                <td>
                {% with i.name|cut:'compound_pointer__' as realname %}
                {{j.compound_pointer|getattr:realname|safe}}
                {% endwith %}
                </td>
                {% else %}
                <td>{{ j|getattr:i.name|tabler}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

</table>

<ul class="pagination">
    <li class="{{pbutton_attr}}"><a href='?page=1'>First</a></li>
    <li class="{{pbutton_attr}}"><a href='?page={{prev_page}}'>Prev</a></li>
    {% for i in pages %}
    <li class="{% if i == curr_page %}active{% endif %}"><a href='?page={{i}}'>{{i}}</a></li>
    {% endfor %}
    <li class="{{pbutton_attr}}"><a href='?page={{next_page}}'>Next</a></li>
    <li class="{{pbutton_attr}}"><a href='?page={{last_page}}'>Last</a></li>
</ul>

<div class="modal fade" id="cmpdDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Compound Detail</h4>
        </div>
        <div class="modal-body" id="cmpdContent">


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a id="hitlistadd" href=""><button type="button" class="btn btn-primary">Add to HitList</button></a>
        </div>
    </div><!-- /.modal-content-->
</div><!-- /.modal-dialog -->
</div>


{% endif %}


<form id="hitlistform" enctype="multipart/form-data" method="post" action="{% url 'addtohitlist' %}">
    {% csrf_token %}
    <input type="hidden" name="hitlist" id="hitlistinput">
    <input type="hidden" name="hitlistrm" id="hitlistrminput">
</form>

{% endblock %}

{% block script %}
<script>


//$("#cmpdDetail").modal('show');
$(".cmpdTrigger").each(function(){//Compound Detail View


    $(this).click(function(){
        $("#cmpdContent").html('');
        plate=$(this).attr('plate');
        well=$(this).attr('well');
        platewell=$(this).attr('platewell');

        $.get("/statistics/details/",
            {plate:plate,well:well,t:1},
            function(data){
                $("#cmpdContent").html(data);
            });
        $("#hitlistadd").attr("href","{% url 'addtohitlist' %}?platewell="+platewell);
        $("#cmpdDetail").modal('show');
        //alert(plate+well);
    });

});


//check/uncheck all
$("#checkall").change(function(){
    if ($(".hitlistcheckbox").prop("checked"))
    {
    $(".hitlistcheckbox").prop("checked",false);
    }else{
    $(".hitlistcheckbox").prop("checked",true);
    }
});

//sumit all checked
$("#hitlistsubmit").click(function(){
    value=[]
    $(".hitlistcheckbox:checked").each(function(){
        value.push($(this).attr("platewell"));
    });
    $("#hitlistinput").val(value.join(','));
    $("#hitlistform").submit();
});

//remove all checked
$("#hitlistremove").click(function(){
    value=[]
    $(".hitlistcheckbox:checked").each(function(){
        value.push($(this).attr("platewell"));
    });
    $("#hitlistrminput").val(value.join(','));
    $("#hitlistform").submit();
});


$(".fieldcheckbox").change(function(){
    fields=[]
    $(".fieldcheckbox:checked").each(function(){
        fields.push($(this).attr("field"));
    });
    $("#fieldlist_id").val(fields.join(','));
});
</script>
{% endblock %}