{% extends 'main/base.html' %}
{% load filters %}

{% block content %}
{% if entry_list %}
<table>


<tr class="tablehead">
    {% for i in field_list %}
          <td>{{ i }}</td>
    {% endfor %}
</tr>

{% for j in entry_list %}
<tr class="{% cycle "odd" "even" %}">
    {% for i in field_list %}
          <td>{{ j|getattr:i }}</td>
    {% endfor %}
</tr>

{% endfor %}

</table>

<a href='?page=1'>&lt;</a>...
{% for i in pages %}
<a href='?page={{i}}'>{{i}}</a>
{% endfor %}
...<a href='?page={{last_page}}'>&gt;</a>


{% else%}
No Results Found!
{% endif %}

{% endblock %}