


<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!--<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess.  VALIDATION ERROR removed for now.-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>MightyScreen  Create Primary Screening-Data Analysis Job</title>

    <base href="">
    <link href="css/common.css"        rel="stylesheet" type="text/css">
    <link href="css/codehilite.css"    rel="stylesheet" type="text/css">
    <link href="css/zoomimage.css"     rel="stylesheet" type="text/css" media="screen" />
     <!--  nothing here yet -->
    
    <meta name="description" content="Grid computing for biological structure analytics">
    <meta name="author" content="Harvard Medical School, with funding from National Science Foundation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/modernizr-1.7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>

     <!--  nothing here yet -->

    <!-- google analytics code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24573291-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body onload="initialize()">
    <div class="inside">
        <header>
            <!-- Start Login Menu-->
            <div id="loginMenu">
            
               <a href="/d/account/myprofile/">Hi Qin</a>
               (<a href="/d/account/logout/">logout</a>) |
            
            </div>

            <!-- End Login Menu -->
            <div id="logoNav">
            <a href="/d/"><img id="logo" src="img/logos/SBGrid_Logo-trans_60px.gif" alt="SBGrid Shield Logo"></a>

            <!-- Start Main Menu -->
            <div id="navdiv">
            <div id="headTitle2"><a href="/d/">SBGrid Science Portal</a></div>
            <ul id="nav">
                <li class="navlink"  ><a href="/d/">Home</a></li>
                <li class="navlink"   id="current" ><a href="/d/apps/">Applications</a>
                    <ul>
                        <li><a href="/d/apps/wsmr/docs">WSMR</a></li>
                        <li><a href="/d/apps/den/">DEN</a></li>
                        <li><a href="/d/apps/">Other Applications</a>
                    </ul>
                </li>
                <li class="navlink"  ><a href="/d/resources/">Resources</a>
                    <ul>
                        <li><a href="/biodb/">Databases</a></li>
                        <li><a href="/docs">Documentation</a></li>
                        <li><a href="/devel">Developers</a></li>
                    </ul>
                </li>
                <li class="navlink" ><a href="/d/support/">Support</a>
                    <ul>
                        <li><a href="/support/faq">FAQ</a></li>
                        <li><a href="/d/contact/">Contact</a></li>
                        <li><a href="/monitoring">Monitoring</a></li>
                        <li><a href="/d/certificate/overview/">Grid Certificate</a></li>
                    </ul>
                </li>
                <li class="navlink"  ><a id="about" href="/d/about/">About</a>
            </ul>
            </div>
            <!-- End Main Menu -->
            </div>
            <!-- End LogoNav -->
        </header>

    <div id="content">
        <div id="inner">
            <!-- NOTE: Now inside body/div.center/div.wrapper/div.inside/div.content  -->
            
<script src="/js/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#slideContainer').bxSlider({
			nextImage : '/img/icons/right_arrow.png',
			prevImage : '/img/icons/left_arrow.png',
			infiniteLoop : false,
			hideControlOnEnd : true
		});
	});
</script>

<ul id="appMenu">
    <li><a href="/d/apps/wsmr/docs">About MightyScreen</a></li> |
    <li><a href="/d/apps/wsmr/tasks">All Jobs</a></li> |
    <li><a href="/d/apps/wsmr/create">Create New Primary Screening-Data Analysis Job</a></li> |
    <li><a href="/d/apps/wsmr/create">Create New Multi-Plate Data Analysis Job</a></li>
</ul>




    <h2>Mighty Screen </h2>
    <p>Use this form to upload your MTZ file and describe your task parameters.<br>
        Required fields are marked <span class="required">*</span>, otherwise a default is provided which may be modified.</p>

    <form id="popupForm" method="post" enctype="multipart/form-data" action="">
        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='bIncBVc3mgypepgmmgDiLjDsotzAoIJN' /></div>
            

<fieldwrapper>

    <label for="id_taskname"> Task name : <span class="required">*</span></label>
    <input id="id_taskname" maxlength="120" type="text" name="taskname" title="Short reference name for task (no spaces)" />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_comment"> Comment : <span class="required">*</span></label>
    <textarea id="id_comment" rows="10" cols="40" name="comment" title="Notes &amp;/or Justification for submitting this job"></textarea>
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_mtz"> CSV file : <span class="required">*</span></label>
    <input id="id_mtz" type="file" name="mtz" title="Must include an amplitude column" />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_fplab"> FP column name : </label>
    <input name="fplab" title="&quot;FP&quot;, is the default.  Modify if the column name in your file is labelled differently." value="FP" maxlength="40" type="text" id="id_fplab" />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_sigfplab"> SIGFP column name : </label>
    <input name="sigfplab" title="&quot;SIGFP&quot;, is the default. Modify if the column name in your file is labelled differently." value="SIGFP" maxlength="40" type="text" id="id_sigfplab" />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_resolution"> High resolution cutoff (A) : </label>
    <input id="id_resolution" type="text" name="resolution" value="3.0" title="Default is 3.0, increasing this value may increase job runtime." />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_solvent"> Solvent fraction : </label>
    <input id="id_solvent" type="text" name="solvent" value="0.5" title="Default is 0.5." />
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_sequence"> Sequence : </label>
    <textarea id="id_sequence" rows="10" cols="40" name="sequence"></textarea>
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_phaser_opts"> Phaser extra options : </label>
    <textarea id="id_phaser_opts" rows="10" cols="40" name="phaser_opts"></textarea>
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_search_set"> Database Type : <span class="required">*</span></label>
    <select name="search_set" id="id_search_set">
<option value="ICCB_HMS" selected="selected">ICCB Harvard Medical School</option>
<option value="scop-clean-1.75" >SCOP v1.75 (107289)</option>

</select>
    
</fieldwrapper>

<fieldwrapper>

    <label for="id_search_set"> Plate Type : <span class="required">*</span></label>
    <select name="search_set" id="id_search_set">
<option value="386" selected="selected">386 Well Plates</option>
<option value="96" >96 Well Plates</option>

</select>
    
</fieldwrapper>


<fieldwrapper>

    <label for="id_sgalt"> Search all possible space groups (increases timeout rate). Please use this option instead of submitting the same MTZ file for multiple searches. : </label>
    <input id="id_sgalt" type="checkbox" name="sgalt" title="This will decrease search within the default space group as total job time is capped. Please use this option instead of submitting the same MTZ file for multiple searches. " />
    
</fieldwrapper>




        <input type="submit" value="Submit" />
    </form>

<div id="slideContainer">
	<div>
		<div id="slideTitle">
			<h1>Wide-Search Molecular Replacement</h1>
			<h2>Portal Application User Guide</h2>
		</div>
	</div>
	<div>
		<h1>When WSMR is suitable</h1>
		<ul>
			<li>You've got good data (<4 A)</li>
			<li>You've tried MR with lots of good candidate a priori
				knowledge</li>
			<ul>
				<li>a priori knowledge</li>
				<li>sequence similarity (PSI-BLAST search)</li>
			</ul>
			<li>Or</li>
			<ul>
				<li>protein not sequenced</li>
				<li>no a priori knowledge of expected fold</li>
			</ul>
			<li>You haven't found any good models to use for phasing</li>
			<li>Time to try a brute-force search: WSMR</li>
		</ul>
	</div>
	<div>
		<h1>When MR is not suitable</h1>
		<ul>
			<li>Complexes containing significant DNA or RNA</li>
			<ul>
				<li>at least right now these will probably not work</li>
			</ul>
			<li>You haven't tried MR and just want a "quick fix"</li>
			<li>Very large or very small structures</li>
			<ul>
				<li>both are computationally difficult</li>
			</ul>
			<li>Low resolution (> 4.5 A)</li>
			<ul>
				<li>experience so far suggests these aren't going to be helped
					much</li>
			</ul>
		</ul>
	</div>
	<div>
		<h1>Requirements</h1>
		<ul>
			<li>Reflection data in MTZ file format</li>
			<ul>
				<li>Must have amplitude columns (e.g. FP, SIGFP)</li>
				<li>Doesn't work with intensities only (I, SIGI)</li>
			</ul>
			<li>Managed expectations</li>
			<ul>
				<li>identify good MR candidates about 1 in 4 cases</li>
				<li>We don't produce a fully phased structure only a list of
					good MR candidates and their best placements as returned by Phaser</li>
			</ul>
			<li>Experience with Phaser to interpret results and re-run
				candidate models</li>
	</div>
	<div>
		<h1>What you will get</h1>
		<ul>
			<li>Your job will take 20-50,000 computing hours</li>
			<li>Produces 300,000 files</li>
			<li>Attempts 100,000 single-domain MR trials using all SCOP
				domains</li>
			<li>Results are not automatically interpreted, but the best
				candidates are presented to you in a web-based scatter plot</li>
			<li>All results are available for your analysis</li>
		</ul>
	</div>
	<div>
		<h1>How to get started</h1>
		<ul>
			<li><a href="/d/account/register">Register</a> for a
				portal account</li>
			<li>Once logged in select <a href="/d/apps/wsmr/create">Create
					New Job</a> from the WSMR application page
			</li>
			<li>Receive a confirmation email that your job has been
				submitted</li>
			<li>Check the status of your job from <a
				href="/d/apps/wsmr/tasks">All Jobs</a> on the WSMR application
				page
			</li>
			<li>Once complete <a href="/d/apps/wsmr/tasks">All Jobs</a>
				will contain a link to your results
			</li>
		</ul>
	</div>
</div>

<div id="leftOfSlider">
	<h1>Background</h1>
	<p>
		WS-MR uses <a href=http://www.phaser.cimr.cam.ac.uk />Phaser [McCoy,
		Grosse-Kunstleve, Adams, Winn, Storoni, Read; J. Appl. Cryst. (2007).
		40, 658-674.]</a> to perform molecular replacement on up to 100,000
		protein domains from the <a href="http://scop.mrc-lmb.cam.ac.uk/scop/">SCOP</a>
		protein database (See <a
			href=http://www.ncbi.nlm.nih.gov/pubmed/7723011>[Murzin A. G.,
			Brenner S. E., Hubbard T., Chothia C. J. Mol. Biol. (1995) 247,
			536-540.]</a> <a
			href="http://scop.mrc-lmb.cam.ac.uk/scop/ref/1995-jmb-scop.pdf">[PDF]</a>)
		in an attempt to find high quality templates suitable for phasing.
	</p>

	<p>This is a computationally intensive operation (requiring up to
		50,000 hours to complete), and one which should only be attempted
		after other efforts have failed. Results are typically available 2-4
		days after initial submission, however all searches are manually
		verified and submitted based on a suitable justification.</p>

	<p>However, there are currently there are many jobs in the Queue,
		and it may take up to two weeks before new jobs are run.</p>
</div>
<div id="paraContainer">
	<div id="para1">
		<h2>Citations, Publications, and other Documentation</h2>
		<p>Please cite one or both of the following in any publications
			which benefit from this system:</p>
		<ul>
			<li>Stokes-Rees I, Sliz P,<a
				href="http://www.pnas.org/content/early/2010/11/17/1012095107.short?rss=1"
				target="_blank">Protein structure determination by exhaustive
					search of Protein Data Bank derived databases</a>, Proc. Nat'l Academy
				of Sciences PNAS 2010: 1012095107v1-6.
			</li>

			<li>Stokes-Rees I, Sliz P, <a
				href="/library/int/2010_11_pap_MTAGS2010_HTC-SBGrid_StokesRees.pdf">Compute
					and data management strategies for grid deployment of high
					throughput protein structure studies</a>, IEEE Workshop on Many Task
				Computing on Grids and Supercomputers 2010 (MTAGS10), Seattle,
				November 2010
			</li>

			<li>Boon M, <a
				href="http://www.isgtw.org/feature/grid-scatters-light-protein-structures"
				target="_blank">Grid scatters light on protein structures</a>,
				International Science Grid This Week, December 15, 2010
			</li>

			<li>Curzan Morton C, <a
				href="http://vectorblog.org/2010/11/the-shape-of-things-to-come/"
				target="_blank">The shape of things to come</a>, Vector- Children's
				Hospital Boston Research and Innovation Blog, November 24, 2010
			</li>
		</ul>
		<h2>Privacy Policy</h2>
		<p>Your data and results are secure and can only be accessed by
			individuals with whom you share the access password. Internally we
			may review your data and results for the purposes of improving the
			WS-MR system. Any future publications on our part will contact owners
			of the data which we wish to reference for prior approval.</p>

		<h2>Further Details</h2>
		<p>
			To use WS-MR you must upload MTZ-format reflection data containing F
			and SIGF channels (amplitudes, not intensities), and indicate the
			channel names. You also provide the highest resolution available in
			the data plus the solvent fraction. The WS-MR server will then verify
			the data, create a search task, and submit it to run on the <a
				href=http://opensciencegrid.org />Open Science Grid [Pordes R, et
			al. (2007) J Phys: Conf Ser 78]</a>.
		</p>
	</div>
	<div id="para2">
		<center>
			<figure id="fundImg">
				<a href="http://www.opensciencegrid.org"><img
					src=/img/logos/osg.gif></a>
				<a href="http://www.nsf.gov"><img src=/img/logos/nsf_logo.jpg></a>
				<figcaption>
					<p>
						This service is made possible with distributed computing resources
						from <a href="http://www.opensciencegrid.org">Open Science
							Grid</a> and with funding from <a href="http://www.nsf.gov">National
							Science Foundation</a>.
					</p>
				</figcaption>
			</figure>
		</center>
		<p>Results will be available in 2-4 days, although you can monitor
			progress using the links you will be sent by email. You can also
			setup a security password to keep the data private. This can be
			shared with colleagues who need to access the data.</p>
		<p>Interpreting 100,000 molecular replacement results can be
			daunting. We are happy to help you do this -- please email us at the
			address above or using the link in your job email. Essentially you
			are looking for domains which score well (and we consider multiple
			scoring metrics), are distinct from 99% of the results which are not
			suitable, and which form a cluster of "similar" structures. The
			tables, graphs, and tools we provide you should help with this
			process.</p>

		<h2>Justification</h2>
		<p>Please describe your need to run WS-MR in the comment text box.
			What results have you had from conventional MR? Have you had
			particular difficulties with traditional phasing methods? Has the
			space group been confirmed, or should other enantiomorhps be tested.
			Please indicate the expected number of molecules/ASU. Please include
			data collection stats if available: resolution, Rsymm, % complete.
			The submitted information will help us to prioritize your jobs.</p>
	</div>
</div>
<div class="fullWidth">
	<h1>Results Interpretation</h1>
	<h2>Tabular Data</h2>
	<p>As the WS-MR process proceeds, live results are accumulated into
		a file inprogress.dat. Each row in the .dat file represents the scores
		for a single MR template that produced a result when run with Phaser
		against your MTZ. When the entire job set is done, this resuls file is
		augmented with SCOP class and some domain details which can help
		identify patterns in the top scoring results. A distinct group of top
		scoring results, or a fringe of high scoring (but perhaps not
		distinct) results all in the same SCOP class is a strong indicator of
		a good MR model.</p>
	<p>The inprogress.dat files are preliminary and may contain
		shrapnel from concurrent data aggregation. They are also unsorted.
		Each time a status operation is executed a snapshot.dat file is
		generated. This performs some basic cleaning and sorting of the
		currently available data, but it still should not be considered
		definitive. Once the process is complete, the finalize process will
		sequentially collect all results, sort them, augment them with
		per-domain details, and produce two final results files: final.dat
		which contains the clean, sorted, final results, and
		final.augmented.dat which also contains additional "static"
		information about each domain.</p>
	<p>
		<iframe src=/p/s/wsmr/example.dat width=100% height=150></iframe>
	</p>
	<h2>Scatter Graph</h2>
	<p>
		The best way to "browse" your results is through an interactive
		multi-dimension scatter graph. Mac users are recommended to try <a
			href=http://www.visualdatatools.com/DataGraph />DataGraph</a>. Excel,
		Gnumeric, or other spreadsheet packages may also be used, but may not
		accept data tables with 100k lines. In these cases, just use the
		<tt>top1000</tt>
		results. Our experience shows that the best way to discover strong MR
		candidates from the WS-MR results is to look at the following scatter
		graphs:
	<ul>
		<li>LLG vs TFZ score - ignore any results with LLG less than 20
		<li>LLG vs domain length - look for a cluster of results with the
			same domain length but above the "trend" line for the LLG trajectory,
			and with an LLG above 20.
	</ul>
	</p>
	<p>In addition, adding domain coloring by SCOP class (or class
		group) can help highlight clusters of similar structures with strong
		results. This is often an indication of a good template model if the
		LLG and TFZ scores are also good.</p>
	<p>
		Each time the
		<tt>status</tt>
		is generated you'll get a scatter graph of the LLG vs TFZ results
		collected to date. <img class="scopGraph"
			src=/p/s/wsmr/2vzf-llg-vs-tfz-legend.png><br> <img
			class="scopGraph" src=/p/s/wsmr/tim-contaminant-llg-vs-tfz.png>
	</p>

	<h2>Exploring specific MR candidates</h2>
	<p>You may find these two tools useful for examining the candidate
		models:</p>
	<p>
		View RCSB and SCOP models by 6-character PDB code: <a
			href=http://portal.sbgrid.org/cgi/pdbview.py>
			http://portal.sbgrid.org/cgi/pdbview.py</a>
	</p>
	<p>
		Compare RCSB and SCOP models to first model in list: <a
			href=http://portal.sbgrid.org/cgi/tmalign.py>
			http://portal.sbgrid.org/cgi/tmalign.py</a>
	</p>
	<p>For both of these, a good "hint" is to click on the "copy link"
		link that appears after you've done a search to share the results with
		others by a URL. For "tmalign.py", if you have less than 10 results
		you are comparing, you can i) click on the "copy link" text; then ii)
		add &amp;jmol=1 to the end of the URL. This will give you a JMol
		overlay. This is turned off by default since &gt;10 JMol instances
		will crash many browsers. Yes, the UI for these needs some work, but
		so far they have been tools primarily for my own internal use...</p>
	<h2>Results interpretation</h2>
	<p>For some data sets, the promising results may have relatively
		low TFZ scores, but not "impossibly" low. One of our interesting
		findings is that TFZ scores as low as 4 or 5 can actually correspond
		to good MR candidates, and that a high LLG can draw these out. If you
		don't have any distinct cluster of solutions with jointly high LLG and
		high TFZ, instead look for high LLG, distinct from the rest of the
		results, and TFZ scores &gt; 4. Cut and paste the top 20 or 40 results
		by LLG into:</p>
	<p>
		<a href=http://portal.sbgrid.org/cgi/pdbview.py>
			http://portal.sbgrid.org/cgi/pdbview.py</a> and see if they look
		approximately like what you expected.
	</p>
	<p>
		NOTE: If you are using WS-MR it should be in cases where you haven't
		been able to phase your data by conventional MR, selecting models from
		<i>a priori</i> knowledge of the unknown protein, or based on sequence
		homology. Our experience so far (limited to approximately 50 cases) is
		that only about 1 in 4 WS-MR searches returns promising candidate
		models. The rest of the time the results are inconclusive. We are
		working to improve the search mechanisms to attempt alternative
		structures.
	</p>
	<p>An important thing to note is that small structures produce
		misleadingly high TFZ scores. We don't currently include the number of
		residues in the output table, but clearly we should, as this would
		help filter out uninterestingly small structures.</p>
	<p>In our experience any results with LLG &lt; 20 should be
		ignored, and possibly that cut off should be as high as 30 or 40,
		depending on the structure under consideration. If you eliminate all
		data below that cutoff LLG value, and then resort by TFZ, you
		certainly may get an interesting result.</p>
	<p>In summary, promising results can be identified three ways:</p>
	<p>i) a distict (and typically small) population of structures with
		both high LLG and high TFZ (top right of LLG vs TFZ scatter graph);</p>
	<p>ii) structures which have the same SCOP SCCS class and show up
		repeatedly on the "fringe" of the overall population: on the "top"
		(high LLG) and/or "right" (high TFZ), taking into consideration the
		comment above that LLG &lt; 20 should be ignored (and possibly
		higher);</p>
	<p>iii) any other structures on the top and/or right "fringe" (as
		defined above).</p>
	<p>We have tried some different "combined" scoring and cut-off
		mechanisms, but so far don't have a systematically reliable way to
		extract this data, so we recommend the process described here. If you
		see a SCOP class showing up repeatedly, you can "browse" it via a URL
		such as:</p>
	<p>
		<a href=http://portal.sbgrid.org/biodb/scop/v1.75/clean/class/f/4/3/1 />http://portal.sbgrid.org/biodb/scop/v1.75/clean/class/f/4/3/1/</a>
	</p>
	<p>If, for instance, you see that f.4.3 is the set of porin
		transmembrane beta-barrels, this comes up regularly, and it matches
		your expectation for the structure, then this should give you
		confidence to pursue those structures first.</p>
</div>

            <!-- the footer sites within center, wrapper inside and content divs which will be closed here -->
        </div> <!-- end "inner" -->
    </div> <!-- end "content" -->

    <footer>
        <h5>Copyright &copy; 2013 <a href="http://www.harvard.edu">The President and Fellows of Harvard College</a> &mdash; Also visit the <a href="http://sbgrid.org/" target="_blank">SBGrid Consortium</a> </h5>
    </footer>
    </div> <!-- end "inside" -->
    <!-- javascript used by all pages is here, other javascript is in base pages for specific applications. -->
    <script type="text/javascript" src="/js/custom.js"></script>
    <script src="/js/jquery.tooltip.js" type="text/javascript"></script>
    
<!-- qTip for pop-up help boxes in form -->
<script type="text/javascript">
$(document).ready(function()
{
    $('#popupForm :input[title]').tooltip({

    // place tooltip on the right edge
    position: "center right",

    // a little tweaking of the position
    offset: [-2, 10],
    });
document.forms[0].elements[1].focus();
}); 
</script>

</body>
</html>

