{% load filters %}
{# the table list 2 variable needed. field_list and entry_list one optional pre_order#}
<table class="table table-striped table-hover table-condensed table-responsive">


    <tr>
        {% for i in field_list %}
            <td>
                <strong><a href='?order={% if i == pre_order %}-{% endif %}{{i}}'>{{ i|title }}</a></strong>
            </td>
        {% endfor %}
    </tr>

    {% for j in entry_list %}
        <tr>
            {% for i in field_list %}
                <td>         
                    {{ j|getattr:i|tabler }}

                </td>
            {% endfor %}
        </tr>
    
    {% endfor %}

</table>