
<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!--<meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess.  VALIDATION ERROR removed for now.-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Mightyscreen Task View</title>
    {% load staticfiles %}
    <base href="">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/codehilite.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/zoomimage.css' %}" media="screen"/>

     <!--  nothing here yet -->
    
    <meta name="description" content="Grid computing for biological structure analytics">
    <meta name="author" content="Harvard Medical School, with funding from National Science Foundation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/modernizr-1.7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>

     <!--  nothing here yet -->

    <!-- google analytics code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24573291-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body onload="initialize()">
    <div class="inside">
        <header>
            <!-- Start Login Menu-->
            <div id="loginMenu">
            
               <a href="/d/account/myprofile/">Hi Qin</a>
               (<a href="/d/account/logout/">logout</a>) |
            
            </div>

            <!-- End Login Menu -->
            <div id="logoNav">
            <a href="/d/"><img id="logo" src={% static 'main/img/logos/SBGrid_Logo-trans_60px.gif'%} alt="SBGrid Shield Logo"></a>

            <!-- Start Main Menu -->
            <div id="navdiv">
            <div id="headTitle2"><a href="/d/">SBGrid Science Portal</a></div>
            <ul id="nav">
                <li class="navlink"  ><a href="/d/">Home</a></li>
                <li class="navlink"   id="current" ><a href="/d/apps/">Applications</a>
                    <ul>
                        <li><a href="/d/apps/wsmr/docs">WSMR</a></li>
                        <li><a href="/d/apps/den/">DEN</a></li>
                        <li><a href="/d/apps/">Other Applications</a>
                    </ul>
                </li>
                <li class="navlink"  ><a href="/d/resources/">Resources</a>
                    <ul>
                        <li><a href="/biodb/">Databases</a></li>
                        <li><a href="/docs">Documentation</a></li>
                        <li><a href="/devel">Developers</a></li>
                    </ul>
                </li>
                <li class="navlink" ><a href="/d/support/">Support</a>
                    <ul>
                        <li><a href="/support/faq">FAQ</a></li>
                        <li><a href="/d/contact/">Contact</a></li>
                        <li><a href="/monitoring">Monitoring</a></li>
                        <li><a href="/d/certificate/overview/">Grid Certificate</a></li>
                    </ul>
                </li>
                <li class="navlink"  ><a id="about" href="/d/about/">About</a>
            </ul>
            </div>
            <!-- End Main Menu -->
            </div>
            <!-- End LogoNav -->
        </header>

    <div id="content">
        <div id="inner">
            <!-- NOTE: Now inside body/div.center/div.wrapper/div.inside/div.content  -->
            

<ul id="appMenu">
    <li><a href="/d/apps/wsmr/docs">About MightyScreen</a></li> |
    <li><a href="/d/apps/wsmr/tasks">All Jobs</a></li> |
    <li><a href="/d/apps/wsmr/create">Create New Primary Screening-Data Analysis Job</a></li> |
    <li><a href="/d/apps/wsmr/create">Create New Multi-Plate Data Analysis Job</a></li>
</ul>

<h2>Task List: Primary Screening-Data analysis</h2>
<table class="tablesorter">
	<thead>
		<tr>
			<th>Job ID</th>
			<th>Job Name</th>
			<th>Project ID</th>
			<th>Plate ID</th>
                        <th>Comments</th>
			<th>Status</th>
                        <th>Submitted Date</th>
			<th>Results</th>
                        <th>Select</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td>426</td>
			<td>kirill</td>
			<td></td>
			<td>100</td>
			<td>Completed</td>
                        <td>testa</td>
                        <td>test</td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
			

		</tr>
		
		<tr>
			<td>407</td>
			<td>Kirill</td>
			<td>Kirill&#39;s protein</td>
			<td>0</td>
			<td>Duplicate</td>
                        <td>test</td>
			<td><a href="/p/home/qyang/wsmr/Kirill">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>                        

		</tr>
		
		<tr>
			<td>148</td>
			<td>QY3</td>
			<td></td>
			<td>0</td>
			<td>pending</td>
                        <td>test</td>
			<td><a href="/p/home/qyang/wsmr/QY3">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
		</tr>
		
		<tr>
			<td>147</td>
			<td>QY3 molecular replacement</td>
			<td></td>
			<td>0</td>
			<td>pending</td>
                        <td>test</td>
			<td><a href="/p/home/qyang/wsmr/QY3 molecular replacement">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
		</tr>
		
	</tbody>
</table>


<h2>Task List: Multi-Plate Data Analysis</h2>
<table class="tablesorter">
	<thead>
		<tr>
			<th>Job ID</th>
			<th>Job Name</th>
			<th>Project ID</th>
			<th>Plate ID</th>
                        <th>Comments</th>
			<th>Status</th>
                        <th>Submitted Date</th>
			<th>Results</th>
                        <th>Select</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td>426</td>
			<td>kirill</td>
			<td></td>
			<td>100</td>
			<td>Completed</td>
                        <td>testa</td>
                        <td>testa</td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
			

		</tr>
		
		<tr>
			<td>407</td>
			<td>Kirill</td>
			<td>Kirill&#39;s protein</td>
			<td>0</td>
			<td>Duplicate</td>
                        <td>testa</td>
			<td><a href="/p/home/qyang/wsmr/Kirill">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>                        

		</tr>
		
		<tr>
			<td>148</td>
			<td>QY3</td>
			<td></td>
			<td>0</td>
			<td>pending</td>
                        <td>testa</td>
			<td><a href="/p/home/qyang/wsmr/QY3">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
		</tr>
		
		<tr>
			<td>147</td>
			<td>QY3 molecular replacement</td>
			<td></td>
			<td>0</td>
			<td>pending</td>
                        <td>testa</td>
			<td><a href="/p/home/qyang/wsmr/QY3 molecular replacement">results</a></td>
                        <td><a href="/p/home/qyang/wsmr/kirill">results</a></td>
                        <td><input name="your_name" value="your_value" type="checkbox"></td>
		</tr>
		
	</tbody>
</table>



            <!-- the footer sites within center, wrapper inside and content divs which will be closed here -->
        </div> <!-- end "inner" -->
    </div> <!-- end "content" -->

    <footer>
        <h5>Copyright &copy; 2013 <a href="http://www.harvard.edu">The President and Fellows of Harvard College</a> &mdash; Also visit the <a href="http://sbgrid.org/" target="_blank">SBGrid Consortium</a> </h5>
    </footer>
    </div> <!-- end "inside" -->
    <!-- javascript used by all pages is here, other javascript is in base pages for specific applications. -->
    <script type="text/javascript" src="/js/custom.js"></script>
    <script src="/js/jquery.tooltip.js" type="text/javascript"></script>
    
<!-- javascript files (except jquery and modernizer which are in header) are added here just before the </body> for optimized page loading-->
<!--This file, jqueryCombined.js, is a combination of several javascripts including:
                1.  jquery.client.js
                2.  jquery.featureList-1.0.0.js
                3.  jquery.flot.min.js
                4.  jquery.tablesorter.min.js
                5.  jquery.uploadify.latest.min.js
-->
<script type="text/javascript" src="/js/jqueryCombined_min.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.js" type="text/javascript"></script>-->
<!--The file sbgridCustom could be used to replace the next six javascript files but for now we'll just include them all:
                1.  eye.js
                2.  menu.js
                3.  sbgrid.js
                4.  swfobject.js
                5.  utils.js
                6.  zoomimage.js
-->
<script type="text/javascript" src="/js/Jmol.js"></script>
<script type="text/javascript" src="/js/eye.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/zoomimage.js"></script>
<script type="text/javascript" src="/js/sbgrid.js"></script>
<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>

