{% extends 'main/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="well">
<h3>Note:</h3> 
<ul>
<li>We will read the file according to the input sequence. For example, if you put 3266, 3264, 3265 and have 2 replicates. we will read 3266A, 3266B, 3264A, 3264B, 3265A, 3265B.</li> 
<li>For 1536-well plate, we process it as 4 384 plates. Please put the plates in the order of top-left, top-right, bottom-left, bottom-right. </li>
</ul>
</div>


<div class="well">
	<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="/main/upload/">
	   {% csrf_token %}      
	       {{form|as_bootstrap_h}}


	  	<div class="form-group">
	  		<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Submit"/>
				<input type="reset" class="btn btn-default" value="Clear"/>
			</div>
		</div>


	</form>
</div>



{% endblock %}
