{% extends 'main/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="well">
<h3>Note:</h3> 
<ul>
<li>We will read the file according to the input sequence. For example, if you put 3266, 3264, 3265 and have 2 replicates. we will read 3266A, 3266B, 3264A, 3264B, 3265A, 3265B.</li> 
<li>For 1536-well plate, we process it as 4 384 plates. Please put the plates in the order of top-left, top-right, bottom-left, bottom-right. </li>
</ul>
</div>



<div class="well">
	<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="/main/upload/">
	   {% csrf_token %}      
	       {{form|as_bootstrap_h}}

{% if not map %}

	  	<div class="form-group">
	  		<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Submit"/>
				<input type="reset" class="btn btn-default" value="Clear"/>
			</div>
		</div>

{% else %}

		<input type="hidden" name="real_submit" value="1">
		<!-- Warning Messages -->
		<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">What we found:</h4>
		      </div>
		      <div class="modal-body">
		      	<dl class="dl=horizontal">
				{% for i,j in map.iteritems %}
				<dt>In line:{{i}}</dt><dd>"{{j}}"" table</dd>
				{% endfor %}
				</dl>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        <input type="submit" class="btn btn-danger" value="Confirm and Submit"/>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
{% endif %}

	</form>
</div>



{% endblock %}

{% block script %}
<script>

$(document).ready(function(){
	$("#MyModal").modal('show');	
});

</script>

{% endblock %}