{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
<div>
<div class="well">
<form class="form" role="form" enctype="multipart/form-data" method="post" action="{% url 'userena_signin' %}">
{% csrf_token %}


{{form|as_bootstrap}}


<div class="form-group">
	<input type="submit" class="btn btn-primary" value="SignIn"/>
	<input type="reset" class="btn btn-default" value="Clear"/>

</div>

<hr>
<p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
<p>{% trans "Not a User?" %}&nbsp;<a href="{% url 'userena_signup' %}">{% trans "SignUp Now" %}</a></p>
</form>
</div>

</div>

{% endblock %}