body{
    background-color:#CCC;
    text-align:center;
}

#wrapper{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    text-align:left;
}



#banner{
    background-color:#EBFFFF;
    border-radius: 10px;
}

#logo{
    font-style:italic;
    font-size:40px;
    padding-left:10px;
}

#headertext{
    padding-left:20px;
}

nav{
    background-color:#E69980;
    padding: 3px 10px 0 10px;
    border-radius: 10px;
    height:20px;
    margin:5px 0 5px 0;
   
}

#menubar{
}

#loginbar{
    float:right;

}
#mainsection{
    padding:10px;
    border-radius: 15px;
    background-color:white;
}


#footer{
    margin:5px 0 5px 0;
    text-align:center;
    background-color:#EBFFFF;
    border-radius: 15px;
}

.tablehead{
background-color:	#CCC;
}
.odd {
background-color:#F0FAFF;
}
.even{
background-color:#D1F0FF;
}
